[2016-10-15 10:15] ewal opened #1 "Can install via npm"
Hi, I currently get this message when trying to install:

`npm ERR! 404 Registry returned 404 for GET on https://registry.npmjs.org/cloudinary-react`

[2016-11-15 11:56] roeeba commented on #1
Hi @ewal, we seem to be able to install the package on our end. Are you still facing this issue? if so, can you please let us know how can we reproduce it?

[2016-11-16 13:53] ewal commented on #1
Hi, still can't install.
Log below:

[code]

[2016-11-16 17:57] roeeba commented on #1
Sorry @ewal , you're obviously right. We are working on resolving it now.
Update to follow.

[2016-11-16 18:51] roeeba commented on #1
Hi @ewal , The issue has been resolved. Please try again and let us know?

[2016-11-17 13:59] ewal commented on #1
Managed to install now 👍

[2016-11-17 13:59] #1 closed

[2016-11-22 20:33] texaspacm opened #3 "Default image when no PublicID available?"
I'm using the <image> component in a list, and there may or may not be an image in cloudinary associated with the public ID i'm adding to the component.

Any ideas on how to display a default image instead of showing a broken image on the page.

Thanks

[2016-11-26 06:29] mkliu opened #4 "Any plan to support upload widget?"

[2016-12-25 01:04] ewittle commented on #4
Would also be interested in upload functionality, especially signed uploads. I'm hoping to include Cloudinary upload in my React application, but I would like signed uploads. I would think I could implement a RESTful API to provide the signature, and have the rest of the logic be embedded in React.

[2017-01-02 23:04] webbower opened #6 "Normal HTML attributes aren't being applied correctly"
When I use the `Image` component and I pass in normal HTML attributes, including native event handlers, they are getting converted to snake case inside the `Image` component and so they are ignored by React's `img` component (attributes and handlers aren't being applied properly to the resulting HTML element). You can see what I'm talking about in the attached screenshot of the React dev tools.

!

[2017-02-06 06:22] tocker commented on #6
Hi @webbower, thanks for reporting this!
I verified the issue and a fix will be posted soon.

[2017-02-07 21:02] loris commented on #4
+1

[2017-02-08 22:14] hmontes opened #7 "Uncaught Error: Cannot find module 'cloudinary-react/lib/components/CloudinaryContext' from 'cloudinary-react/lib/index.js'"
This is my code

[code]

In the console:

[code]

But the folder Exists (I'm installed via npm)

What is the problem?

Thanks

[2017-02-08 22:45] hmontes commented on #7
Maybe because i use brunch.io (Which is awesome and the future) instead of Webpack?

[2017-02-09 00:04] webbower commented on #6
@tocker Awesome! Thanks.

[2017-02-09 17:54] taragano commented on #4
Please note that most of the widget's functionalities are available using pure Javascript. Initializing the widget is pretty much a single line of Javascript code.
Implementing signed uploads can be done via a standard Ajax call, which requests the signature from your server. As the signature is based on your account's `api_secret`, which must be kept excluded from your client-side code, the signa

[2017-02-09 20:39] eitanp461 commented on #7
@hmontes It is definitely brunch.io, it works fine out of the box with Webpack.

Brunch are not using standard NPM package lookups, and loads all modules with their resolved name, e.g. it caches `cloudinary-react/lib/components/CloudinaryComponent/CloudinaryComponent.js`

However our code is using the [module folders as modules pattern](https://nodejs.org/api/modules.html#modules_folders_as_module

[2017-02-10 00:32] hmontes commented on #7
Worked!! Thank you so much for your solution !!!!!

This is my brunch-config.js (for help another brunch user)

Thank you again :)

[code]

[2017-02-10 00:32] #7 closed

[2017-02-10 00:36] hmontes commented on #7
BTW. When i test your code.

[code]

It's only a warning.

[2017-02-10 16:32] hmontes commented on #4
+1. Crop things, previews and Facebook uploads are very much easier with the Upload Widget.

[2017-02-10 18:42] rockchalkwushock opened #8 "Having compatibility issue with Next.js"
I have opened this issue with the Next.js dev team as well.

You can find the issue [here](https://github.com/zeit/next.js/issues/1061).

I have created a simple example in a throw away repo to try and figure out the problem I am encountering and it can be found [here](https://github.com/rockchalkwushock/test-repo). The _README.md_ has a synopsis of what is happening as well as links to issues & c

[2017-02-11 21:06] eitanp461 commented on #7
@hmontes Where did you see that error? What was the command you were running?

[2017-02-12 14:24] roeeba commented on #8
Hi @rockchalkwushock  I understand from the correspondence on [this thread](https://github.com/zeit/next.js/issues/1061) that this is an internal Next.js issue. Can please let us know if you still need our assistance in this matter?

[2017-02-12 19:42] rockchalkwushock commented on #8
@roeeba

Sorry I had meant to go ahead and close this as the issue pertains to the Next.js source code.

[2017-02-12 19:42] #8 closed

[2017-02-17 19:25] taragano commented on #4
I'm not sure I fully understand the Facebook Uploads one, if you mean uploading by a URL, then this is fully supported by our upload widget even with its pure Javascript initiation.
Cropping, previews and the other more advanced widget capabilities, are currently supported by also including jQuery.

[2017-02-24 02:47] wittlesouth commented on #4
So I ended up implementing the upload via a fetch API with the api_secret being set on the server side. My server side is Python / Flask / Flask-Restful. I found the documentation on how to do this exceedingly weak, and ended up avoiding most of the cloudinary python libraries. I use two specific functions from those libraries; here is my import statement:

from cloudinary.utils import build_uploa

[2017-02-26 04:24] conorpirie opened #9 "Cloudinary React and Bootstrap both use the <Image> component name"
I'm using bother Cloudinary React and React Bootstrap and have come across a conflict with the <Image> component

`import { Image } from 'react-bootstrap';`
`import { Image } from 'cloudinary-react';`

Is there a good way to solve this? I've considered:
- Changing the name of Image in cloudinary react manually.
- Importing the cloudinary Image component into a separate sub-component, then importin

[2017-02-26 09:34] eitanp461 commented on #9
@conorpirie You can use an alias when importing, e.g.

[code]

And then use it as follows:
[code]

[2017-03-01 01:49] conorpirie commented on #9
Awesome, thank you!

[2017-03-01 01:49] #9 closed

[2017-03-01 21:04] #6 closed

[2017-04-11 17:28] mickealmprivat opened #12 "Private images and videos"
Any plan to support options for private images and videos in the React SDK, or a guide for how to work with those?

[2017-04-11 19:42] karldanninger opened #13 "Transformations don't work when app is deployed"
So when I deploy, I none of the transformations seem to work.

Locally, everything is fine, and I can see the transformations in the generated URL

[2017-04-11 20:33] eitanp461 commented on #13
@karldanninger Can you provide a link to the deployment?

[2017-04-22 12:10] AmrN commented on #13
This happens because of minification #10

[2017-04-24 14:58] eitanp461 commented on #12
@mickealmprivat Cloudinary supports several methods for handling image access control, see https://support.cloudinary.com/hc/en-us/articles/202519742-Can-I-allow-access-to-uploaded-images-only-to-authenticated-users-.

Do any of these methods apply to your functional use case?

[2017-05-07 19:39] jeremyk opened #14 "Using format f_auto"
I can't seem to figure out how to do this with props.

http://cloudinary.com/blog/transparent_webp_format_cdn_delivery_based_on_visitors_browsers

Thanks,
Jeremy

[2017-05-07 20:15] eitanp461 commented on #14
@jeremyk Take a look at this Codepen project - https://codepen.io/eitanp461/project/editor/ANWPqL/#

The gist of it is using `fetch-format="auto"` as in the following example:

[code]

The result image URL is https://res.cloudinary.com/demo/image/upload/a_10,c_scale,f_auto,w_200/sample

[2017-05-10 15:00] brad-decker opened #15 "fetch_format="auto" on cloudinary-context doesn't apply to components down the tree"
#### index.js
[code]

#### App.js, render method
[code]

The <Image> doesn't have fetch_format=auto applied.

[2017-05-10 19:40] nratter opened #16 "No way to preload an image if it's going inside a modal"
Would be nice if you could preload a Cloudinary image into a modal before opening the modal. Traditionally, you'd do this by using image.onload, but I'm not sure how this is possible with this package.

[2017-05-10 19:48] #16 closed

[2017-05-10 20:27] eitanp461 commented on #15
@brad-decker Thank you for notifying us.
We will look into why it is not working with `fetch_format`.

In the meantime you can use `fetchFormat="auto"`, see https://codepen.io/eitanp461/project/editor/ZoNNkP/

[2017-05-11 13:25] slackday opened #17 "Responsive image and server-side"
Hello!

And thanks for a great library. It's really easy to get up and running with Cloudinary with React without having to depend on third-party components anymore.

I have two issues when using `<Image />` and `<Transformation />`.

The first is I have the components like so:

[code]

The props `responsive` and `width="auto"` needs to be present on both components. It doesn't work if only specif

[2017-05-14 05:39] ro-savage commented on #4
I'd also love to have a way for the user to crop/resize on clientside.

Maybe an optional dep of [react-image-crop](https://github.com/DominicTobias/react-image-crop) or [react-avatar-editor](https://github.com/mosch/react-avatar-editor) until a non-jquery component can be created by cloudinary?

[2017-05-17 09:18] roeeba commented on #17
Hi @slackday, `responsive` is not part of a transformation. It should be set on the `<Image>` component and is ignored on the `<Transformation>`.
`width="auto"` can either be set on `CloudinaryContext` for all images or on the transformation of a specific image.
See example https://plnkr.co/edit/A3RpWXpNXth9cbt9EUDm?p=preview

In regards to your second question, currently setting a default `src` v

[2017-05-17 10:39] slackday commented on #17
@roeeba thanks for clearing that up. Following your example I was able to remove my duplicate props and still have responsive working.

Setting a default `src` would be really useful for server side rendering and having the client progressively enhance the image using the already existing `responsive` function. Thanks for forwarding it to the dev team.

[2017-05-19 06:00] roeeba commented on #17
@slackday, thanks for the update, glad to help :)
We'll update regarding the default `src` as soon as we can.

[2017-05-23 00:26] mvanlonden commented on #3
Any updates here? Also running into the same problem

[2017-05-23 05:53] eitanp461 commented on #3
@mvanlonden @texaspacm an `onError` listener can help here:

[code]

See example here - https://codepen.io/eitanp461/project/editor/ANWPqL/

[2017-05-23 19:04] mvanlonden commented on #3
Thanks, this works as a placeholder, but what I'm really looking for is a way for the component not to render the image tag until it has fetched the image. It seems like the `<img />` tag is rendered before the src attribute is added. This might be because I'm using the `responsive` attribute with auto width and the cloudinary-react needs to know the size of the image before fetching?

[2017-05-24 08:54] eitanp461 commented on #3
@mvanlonden Please add more details regarding your use case.
Are you using server side rendering?
Can you update the CodePen with a reproduction?

[2017-05-24 12:58] slackday commented on #17
Hi one update regarding `responsive`. It's working for me locally when running react but when I publish my code to the server responsive images stop working.

They render as publicID (full size image) on the client. Any idea what can be causing this?

I can try and investigate further but I thought I'd ask here first.

Difference between local and server is i run react in production mode with `--

[2017-05-24 18:36] eitanp461 commented on #17
@slackday This is an open issue, see https://github.com/cloudinary/cloudinary-react/pull/10
We are reviewing that fix and considering alternatives.
Updates to follow.

[2017-05-24 18:42] slackday commented on #17
Doh.. should have looked st open issues first.. thanks for telling me!

[2017-05-24 19:07] mvanlonden commented on #3
Hmm after fiddling around for an hour or two I still can't reproduce it 😕. Although I have been able to fix it by messing with src directly in my project. [PR that fixes my issue](https://github.com/cloudinary/cloudinary-react/pull/18)

[2017-05-25 12:59] slackday opened #20 "Images blocking rendering"
I have found another issue when testing these components some more. Each `<Image>` `<Transformation>` component is blocking the rendering of whole app.

Each image add about 120-300ms when testing. This means that having around 16 images on a single page adds between 3-5 seconds of page loading.

I can't find the exact cause but from a quick look it seems to be related to calculating the imagesize

[2017-05-25 14:06] #13 closed

[2017-05-25 14:06] #17 closed

[2017-05-26 14:45] laurenskling opened #21 "What about background-image?"
The <Image /> now always returns an <img />

But how about background-image's?

[2017-05-26 15:58] tocker commented on #20
@slackday thanks for reporting this!
To speed things up, can you please share your page (e.g. in codepen.io)?
If you want to keep the code private you can [open a support ticket](https://support.cloudinary.com/hc/en-us) and submit the code there.

[2017-05-28 20:06] eitanp461 commented on #21
@laurenskling Are you referring to [CSS background-image](https://developer.mozilla.org/en/docs/Web/CSS/background-image?v=example)?

[2017-05-28 20:35] laurenskling commented on #21
Yes I am. Sometimes you want to put the image on a div as the background-image (sometimes certain layouts need this). In those cases you want the url to be set as ```<div style={{ backgroundImage: `url(${cloudinaryImage})` }}```. And surely i'd like to be able to use easy to use width and scaling props. So for example having a new prop: ```<Image publicId={myImage} width={300} asBackgroundImage={t

[2017-05-28 20:53] eitanp461 commented on #21
You can achieve this with URL manipulation, e.g. in your css/scss file use:
`background-image: url('path-to-cloudinary-image')`

See live example [here](https://plnkr.co/edit/A3RpWXpNXth9cbt9EUDm?p=preview)

You can find the complete [image transformation reference](http://cloudinary.com/documentation/image_transformation_reference) in Cloudinary documentation.

I am not familiar with examples of

[2017-05-28 21:18] laurenskling commented on #21
well, you can also do `<img src='path-to-cloudinary-image' />` so what is the point of this component? :)

I'd like to use these transformations, without having to write that url string myself. Isn't that where this component is aiming at?

We cannot put something in CSS from React, but we can put something in the `style` tag. So in this line you actually render the `img` tag with the `this.state.

[2017-05-28 22:39] eitanp461 commented on #21
You can use Cloudinary JS SDK for creating the transformations programmatically, e.g.

[code]

See [updated live demo](https://plnkr.co/edit/A3RpWXpNXth9cbt9EUDm?p=preview)

You can find additional examples of using our JS SDK in the [type definition tests file](https://github.com/cloudinary/cloudinary_js/blob/master/types/cloudinary-core-tests.ts)

We do not have plans for JSX-to-CSS transformati

[2017-05-30 10:18] tsi commented on #21
I was looking for this too.
About add ing the js-sdk just to get an image path - it seems like an overkill to send so much JS to get a functionality I already have, just not available to me.
I'd suggest adding a public method to `cloudinary-react` that will return the same value as `this.state.url` of `Image` returns.

[2017-05-31 18:58] eitanp461 commented on #21
@tsi Cloudinary React SDK depends on Cloudinary's core JS SDK, see https://github.com/cloudinary/cloudinary-react/blob/master/package.json#L45

The React SDK is a thin wrapper on top of the core SDK which adds React components for `Image`, `Transformation` and `Video`. Therefore using the core SDK does not come with an additional cost.

[2017-06-08 12:47] tsi commented on #21
@eitanp461 in your demo you're adding:
`  <script src="https://npmcdn.com/cloudinary-core@2.3.0/cloudinary-core-shrinkwrap.js"></script>`
to your page which is a 7700 lines of JS.
This is a lot, can I `import` it in my react component without adding that? how?

[2017-06-08 20:52] eitanp461 commented on #21
@tsi since `cloudinary-react` already depends on `cloudinary-core` You can use

[code]
Without the need to explicitly add `cloudinary-core` to your `package.json`.

See [sample Glitch](https://glitch.com/edit/#!/cloudinary-react-sdk)

[2017-06-15 21:08] #14 closed

[2017-06-20 14:30] angrytoad commented on #20
This may not be much consolation but a really hacky work-around for now is to have a state that stops the components rendering and in a componentDidMount function update that state in a set timeout.

[code]

Something like this works fine, but its a shame that it has to be done this way, if I get a chance i'll take a look at the codebase and see if I can make a PR to fix it.

[2017-06-20 14:34] slackday commented on #20
Sorry I have not had time to try this more and provide a code example.

Interesting solution @angrytoad . Did you try using `React.PureComponent` for rendering instead before hacking the state?

I solved this temporarily in my project by using https://www.npmjs.com/package/react-cloudinary instead.

[2017-06-20 14:50] angrytoad commented on #20
Hi @slackday,

I'm afraid I have not tried it with `React.PureComponent`, it would be interesting to give this a shot in a bare-bones example to see if it solves the issues.

I wasn't aware there was another react cloudinary library so I'll have to see if this also solves the issue for me.

Cheers,

[2017-06-20 14:56] slackday commented on #20
Yes it's a bit confusing with so similar names. 😄

If you decide to try it here's what I did in my component

[code]

[code]
And I set `const useCloudinaryReact = false;` until this issue is fixed or I have time to fix it 😁

[2017-06-20 20:13] eitanp461 commented on #21
Closing since question was answered. Please open a new issue for continued support if needed.

[2017-06-20 20:13] #21 closed

[2017-06-20 20:18] eitanp461 commented on #20
@angrytoad @slackday I have created a Glitch that displays 3 different image components and transformations for 9 public ids, see https://glitch.com/edit/#!/cloudinary-react-sdk
I didn't see any performance problem there.

Please add more details regarding your setup. If you can recreate the issue by remixing the Glitch even better.

Thanks

[2017-07-13 17:05] Boughtmanatee5 opened #22 "Illegal Invocation of requestAnimationFrame"
I've noticed in chrome 59 that requestAnimationFrame used in the handleResize method of the Image component throws an illegal invocation error.

[code]

I believe this is because the native requestAnimationFrame is behind assigned to a custom object when exported.

I've tried using bind and call but they break the tests.

Has anyone else noticed this?

[2017-07-14 13:29] creimers commented on #22
@Boughtmanatee5 Yes, I have noticed this too.

<img width="1492" alt="bildschirmfoto 2017-07-14 um 15 28 30" src="https://user-images.githubusercontent.com/6090492/28214085-2b0b7392-68a9-11e7-8f82-02699aaeb390.png">

[2017-07-16 20:35] eitanp461 commented on #22
@Boughtmanatee5 Can you provide a test case that reproduces the error?
You can fork this plunker - https://plnkr.co/edit/A3RpWXpNXth9cbt9EUDm?p=preview

[2017-07-17 15:02] Boughtmanatee5 commented on #22
@eitanp461 I wasn't able to reproduce the issue in plunker. I was using [react-lazyload](https://www.npmjs.com/package/react-lazyload) in my project and switched to [react-lazy-load](https://www.npmjs.com/package/react-lazy-load) that resolved the illegal invocation. react-lazyload must change the content child components execute in somehow. I'll investigage and push an example later today.

[2017-07-18 09:43] eitanp461 commented on #15
Our preferred syntax is `fetchFormat="auto"`. We will update our React docs to reflect this.

[2017-07-18 09:43] #15 closed

[2017-08-02 12:00] rockchalkwushock opened #23 "client_hints is unknown propType"
Playing around with the library while walking through this [post](http://cloudinary.com/blog/introducing_smart_cropping_intelligent_quality_selection_and_automated_responsive_images) I have found that passing `client_hints` as shown in the article throws an error.

![screen shot 2017-08-02 at 6 51 35 am](https://user-images.githubusercontent.com/19720404/28872587-77d0e5b8-774f-11e7-84e7-cdea61afb6

[2017-08-08 14:28] strausr commented on #23
@rockchalkwushock [Client hints](https://developers.google.com/web/updates/2015/09/automating-resource-selection-with-client-hints) is a browser feature.
You can find the browser support matrix [here](http://caniuse.com/#search=client%20hints)

Client hints provide additional data sent from the browser to the backend which can then be utilized to respond with optimized images per the given paramet

[2017-08-08 18:52] rockchalkwushock commented on #23
@strausr I see I had never heard of it before.

As per the last screen shot from that blog post on Cloudinary, it seems that I do not need to pass this prop anymore as this has been setup behind the scenes for the user (or at least that is my understanding). If that is the correct understanding perhaps the message to the user should read something like:

[code]

Maybe even something in the docs sp

[2017-08-10 05:55] strausr commented on #23
@rockchalkwushock thanks for the feedback! I'll pass this along to the team for consideration.

[2017-08-14 05:59] vfonic commented on #21
@eitanp461 Thanks for providing the example! It's a good start, but it really looks more of a hack to me than of an actual solution. There are many ways you can make this much much easier for us, users.

Here are some, some are terrible, but my opinion is that all of the below given solutions are better than to have a private method, outside of the library.

One more reason for having it as part o

[2017-08-19 22:23] booboothefool opened #24 "Sometimes <Image> returns a url that doesn't show"
When I try this:
[code]

Sometimes it gives back this which works:
[code]

and sometimes it returns this which does not show an image:
[code]
^ Why does it sometimes return the broken url?

This is when I use `publicId="publicid"`. If I use `publicId="url"`, it works consistently.

[2017-08-19 22:37] booboothefool commented on #24
Just had to wrap it in <div> for some cases:
[code]

[2017-08-19 22:37] #24 closed

[2017-08-27 17:35] shirlymanor commented on #21
Thank you for sharing your code!

Currently, we are not supporting a React component that renders JSX to a background image in CSS.
I've passed it on to our product-team to have a look at this as a feature request. there's no ETA yet.
Thanks,

[2017-09-04 11:45] goldylucks opened #25 "expose path by public id"
so we could do:

[code]

My use case is to use this inside rendering markdown:

[code]

[2017-09-04 20:03] eitanp461 commented on #25
@goldylucks You can use `cloudinary-core` which is the foundation underlying Cloudinary's React SDK.

Code snippet:

[code]

See full sample [here](https://glitch.com/edit/#!/cloudinary-react-sdk?path=src/app.js:25:0)

[2017-09-04 20:50] goldylucks commented on #25
Maybe drop a reference in the docs?

Closing :)

[2017-09-04 20:50] #25 closed

[2017-09-05 05:31] eitanp461 commented on #25
@goldylucks Thank you for the feedback.
I will pass it along to the documentation team.

[2017-09-21 17:36] leibole opened #26 "Handle resize invoked many times"
Hi,
I am using the Image component inside code that changes its size and is re-rendered multiple times during its life (like changing from single view to multi view and stuff like that).

Thing is, that for every resize the component calls its resize event, which is completely unnecessary for me, and takes huge amount of scripting time (~3 seconds for ~20 images).

Any chance you can add a prop to

[2017-09-23 11:08] leibole commented on #20
+1

Really big performance degradation when using the Image component with Transformation.

[2017-09-26 09:54] strausr commented on #22
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2017-09-26 09:54] #22 closed

[2017-09-26 09:55] strausr commented on #12
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2017-09-29 14:31] nathanl opened #27 "How can I used a named transformation for a video?"
I have named, eager transformations I've performed on my cloudinary videos. How can I get the video component to render using one of those?

[2017-10-02 11:26] strausr commented on #27
@nathanl Eager transformations are executed during the upload process. However, you can use a named transformation to render with your Video tags. For example, <Video .... transformation="my_named_trans"/>

Hope this helps, please let us know if you have any other questions.

[2017-10-02 14:01] strausr commented on #26
@leibole handleResize() is called every time an Image element is mounted. If you don't mind, can you please share your code so we can take a look and advise further. Specifically, what forces the comps to remount and what props are you giving to the Image comp?
Thanks

[2017-10-03 09:13] roeeba commented on #20
Hi, @leibole. As @eitanp461 mentioned, we need some more information regarding the setup, in order to better understand the issue. Could you please share with us this information?

[2017-10-06 18:26] nathanl commented on #27
`<Video .... transformation="my_named_trans"/>` is what I was looking for! Thanks!

[2017-10-06 18:26] #27 closed

[2017-10-06 18:27] nathanl commented on #27
(This would be a good thing to include in the README, IMO.)

[2017-10-08 20:47] bkniffler opened #28 "ContextTypes"
I just saw the contextTypes cloudinary needs
[code]
I'm shocked. Wouldn't it make sense to put them into one "cloudinary" object? I'm wondering why this hasn't already caused conflict issues for people.

Also, there is a bad problem arising due to the way cloudinary core uses baseClone to get a clean copy of the options in conjunction with apollo's server-side-rendering (namely this line: https://

[2017-10-11 19:20] mvanlonden opened #29 "Upgrade to react 16"
warning "cloudinary-react@1.0.3" has incorrect peer dependency "react@^15.3.1".

[2017-10-15 17:27] leibole commented on #26
@strausr Take a look at this commit from my project: https://github.com/leibole/instaleesh/commit/2854bc5fbac0e04965fb354c48c0324152eae16a
Before it, any re-rendering would take forever, and after I've stopped using your react Image component and just used an img element, it improved drastically.

[2017-10-16 07:34] tocker commented on #28
Hi @bkniffler,

Thanks for pointing this out!

`contextTypes` is populated using `VALID_OPTIONS` and is the same as the contentTypes:
https://github.com/cloudinary/cloudinary-react/blob/f8a84bc38053291d84db9a2d48dc71862856d0bb/src/components/CloudinaryComponent/CloudinaryComponent.js#L96-L98

These parameters are only used when using `CloudinaryContext` to propagate "global" attributes. Normally u

[2017-10-17 08:02] strausr commented on #26
@leibole Thanks for sending the information over. We'll take a look and update you with any insights we have.

[2017-10-17 11:23] roeeba commented on #29
Hi @mvanlonden. Thank you for pointing it out. Our dev team will handle this as soon as they can.

[2017-11-23 19:45] phroz3n commented on #29
@roeeba any updates on this?

[2017-11-25 08:02] roeeba commented on #29
Hi @phroz3n, we're aiming to resolve this by mid-December. We will update as soon as this is resolved.

[2017-11-28 10:26] bernharduw opened #31 "Error: Maximum call call stack size exceeded"
When I add a Transformation to an Image, the equals function deep compares all the props in `shouldComponentUpdate`. This causes a cycle in React 16 with `_owner`.

cloudinary-react 1.0.4, React 16.

![image](https://user-images.githubusercontent.com/740978/33314280-7404be7e-d42d-11e7-8332-a57b00f812f2.png)

I will provide a workaround as a PR until there is official support for React 16.

[2017-11-30 17:46] TiagoGouvea commented on #4
Some old code, but could be useful is [domenicosolazzo/react-cloudinary-uploader](https://github.com/domenicosolazzo/react-cloudinary-uploader).
I'm trying to update it to run with ES6, but, no success. When I finally call "openUploadWidget" it just don't open. :(

[2017-12-04 13:12] strausr commented on #31
@bernharduw  Thank you for bringing this to our attention. We will re-evaluate it as part of the upcoming release.

[2017-12-04 15:43] brmenchl opened #34 "Why does `update_dpr` require the responsive option?"
It looks like the `cloudinary_update` method is called (which updates DPR) only when the responsive option is set. Is this intentional?

[code]
Is the only place it is called, and `state.responsive` must be true, but the implementation of `cloudinary_update` still checks for it.

[code]

I might be missing something, but DPR shouldn't be tied to a resize observer. In my use case, I need to calcula

[2017-12-04 19:35] bernharduw commented on #31
I also stumbled on a performance issue that is related: With `<Transformation/>` children on the image component, the `componentWillReceiveProps` method takes a very long time to execute (about 6 seconds on my Mac). The reason for this: all the props are passed to the Configuration class in cloudinary-core, which deep-clones them. The _owner attribute of the children prop points to the parent comp

[2017-12-05 08:25] strausr commented on #31
@bernharduw Thank you for the input. We are aware of this and have an open ticket on the issue. I'd be happy to update you as soon as this is resolved.

[2017-12-07 09:30] strausr commented on #4
@TiagoGouvea Can you please provide us with more information such as how you're implementing the openUploadWidget and if you're seeing any errors?
Please feel free to open a support ticket with more details at support@cloudinary.com

[2017-12-12 02:29] smallstepstoday opened #35 "Video component ignores Transformations"
Using: React 15.6.2, Cloudinary-React 1.0.4

Using the [React example](https://cloudinary.com/documentation/video_manipulation_and_delivery#quality_control) from the documentation I have the following:
[code]
The debug output is as follows:
[code]
And the final rendered HTML is like so:
[code]
No sign of the expected `q_50` in the URL.

Need to have bit_rate, quality and fades for fading in/out.

[2017-12-12 18:17] #23 closed

[2017-12-13 05:16] brettgullan commented on #31
+1

I’ve encountered the same issue, though it only arose once I called `this.setState` in another component. For the most part, I’m managing state through Redux, so took a while before this issue became apparent. And a whole lot longer to track down!

Looking forward to a fix for this.

[2017-12-13 14:28] strausr commented on #35
@smallstepstoday Thank you for this information. I have forwarded the issue to the team for further investigation. In the meantime, you can use a named transformation to set the quality to 50.

Once the named transformation is created you can render your video as the following-

[code]

Thanks,
Raya

[2017-12-14 05:20] raymondAntonio commented on #29
@roeeba,  any news on the react 16 upgrade ? will this be resolved by tomorrow ? just wondering as I'm currently doing my research for a start-up project and just signed up with Cloudinary. can't wait to give it a go in React 16 so I can move on. Thanks mate.

[2017-12-14 12:28] danjonesdev opened #36 "Are onLoad & onError supported for the Image component?"
Thank you in advance.

[2017-12-14 13:12] #36 closed

[2017-12-18 13:26] roeeba commented on #29
Hi @raymondAntonio. I apologize for the late reply. There's currently no ETA for the upgrade. We will update as soon as there will be.

[2017-12-19 14:43] raymondAntonio commented on #29
@roeeba Thank for the updates. All good. apologised for being impatient. that might show how keen  I am to give Cloudinary a go

[2017-12-21 10:15] roeeba commented on #34
Hi @brmenchl. Apologies for the late reply and thank you very much for reporting this. We will make sure to resolve this as soon as possible. Update to follow.

[2017-12-29 16:00] ajmajma opened #40 "Analytics in Video"
Hello, I am wondering how one can use the analytics, in specific the callbacks from the events. Specifically, the play, pause, and ended events. Is there any reccomended way to do this with your `Video` component. Thanks!

[2017-12-31 06:30] #35 closed

[2017-12-31 08:59] ashachak commented on #40
Hi Alex,
Thanks for approaching us. Cloudinary's Video Player will meet all your needs and much more! Our player can be initiated with a single line of code that accepts a video ID and automatically builds video manipulation and delivery URLs.
Among other things, it enables you to capture in-depth analytical data about your video audience and their consumption of your videos.
For further details p

[2017-12-31 18:25] ajmajma commented on #40
Hey Amit, thanks for your response. As far as I am aware,  you don't do this step when using this react component -

     `var vplayer = cld.videoPlayer("my-video"});

       vplayer.on('ended', (event) => {
         ....
    `
Instead, with the video component from this repository, it's

           `   <Video
              className="cld-video-player  cld-fluid"
              id="cld-video-deskto

[2018-01-01 13:16] tocker commented on #40
Hi @ajmajma,

You can pass event handlers to the Video component as you would to any React component. For example,

[code]

or

[code]

Hope this helps!

[2018-01-02 12:37] #29 closed

[2018-01-20 21:47] tooppaaa opened #43 "Transformation causing application to be unresponsive"
Hi,

I installed the latest package: "cloudinary-react": "1.0.6" and still have issues with transformations.

The following is working :
[code]

When this is not
[code]
There are no errors in the console.

[2018-01-21 14:01] eitanp461 commented on #43
@tooppaaa thank you for the report.
Can you provide more information?
- What exactly do you see?
- Is there anything in the generated HTML?

I created a Glitch project with your sample code which seems to work. Can you remix it and reproduce the error?
https://glitch.com/edit/#!/cloudinary-react-sdk-testing?path=src/app.js:1:0

[2018-01-21 22:17] tooppaaa commented on #43
Hmm I am confused now. I tried to reproduce in your glitch but it worked without problems.
https://glitch.com/edit/#!/bubble-plant.

It's maybe due to some conflicts with other packages.
I'll investigate a bit more and reopen this if I get more info.

[2018-01-21 22:17] #43 closed

[2018-01-25 16:00] bkniffler commented on #4
Implementing uploading into a SPA react app is really a pain with cloudinary. I wished your component ecosystem was as good and polished as the service itself :(

[2018-01-26 20:45] 416serg opened #44 "Error: Maximum call stack size exceeded"
If I have the following, the error occurs.

[code]

If I take out `<Transformation />`, the error goes away and the image loads but I'd like to perform some transformations on it (fetchFormat, qualityFormat, width, etc)

Also, would love to see an image lazy load example - I think it has the capacity to load up multiple "sizes" and then render them when they download.

[2018-01-27 09:32] bernharduw commented on #44
I had this issue before (#31), it should be fixed by updating to the latest version 1.0.6, but I haven't tested yet. It occurs with React 16 only.

If you can't update, you can also work around this error by putting all the transformation props to the Image component:

    <Image cloudName="ruutly" publicId={ruutById.backgroundImage} fetchFormat="auto" width="700" crop="scale"/>

[2018-01-28 09:33] eitanp461 commented on #44
@416serg as pointed out by @bernharduw the issue should be fixed with version 1.0.6 of the SDK.

Re lazy load example, can you provide more details?
"sizes" is a term related to responsive images. You can find more details about it here -
 https://cloudinary.com/blog/responsive_images_with_srcset_sizes_and_cloudinary

[2018-01-30 06:58] eitanp461 commented on #44
@416serg quality attribute name is simply `quality`, e.g.
[code]

As for responsive images, our SDK supports the `responsive` attribute, as well as additional attributes that optimize the viewing experience, see more details here - https://cloudinary.com/documentation/react_image_manipulation#responsive_image_settings

[2018-01-31 18:35] 416serg commented on #44
@eitanp461 thanks for the note!

Like I said, the issue I am trying to address is being able to load a small image as a blurry placeholder while the bigger image gets loaded and replaces the small one when it's loaded - to increase performance of the page load while giving a progressive loading experience like a "blur-up"

[2018-01-31 18:47] bernharduw commented on #44
@416serg is it possible for your case that you inline the blurry image so you don't need another network request? If not, would using progressive JPEGs be a viable option? https://support.cloudinary.com/hc/en-us/articles/202520682-Can-I-generate-Progressive-JPEGs-with-Cloudinary-

I like the progessive blur effect of e.g. Medium for large-sized images, and I think you can create a custom component

[2018-01-31 19:59] 416serg commented on #44
@bernharduw thanks!

[2018-01-31 19:59] #44 closed

[2018-02-01 06:19] eitanp461 commented on #31
Fixed by #39

[2018-02-01 06:19] #31 closed

[2018-02-01 14:10] roeeba commented on #40
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-02-01 14:10] #40 closed

[2018-02-06 17:36] bernharduw commented on #44
Hey @416serg you might use this component: https://github.com/FormidableLabs/react-progressive-image

[2018-02-07 17:46] hiredgun opened #45 "Signed URLs"
Is it possible to sign somehow dynamic URLs using components from this lib? I mean use case with auto width taken dynamically from images' container on a client side. I made some debugging but didn't find anything. I guess that it's possible with SDK but probably only with static URLs which can be signed before moving an app to prod since appSecret can't be exposed to app clients.

[2018-02-08 00:41] d-mendoza commented on #45
@hiredgun Signed URLs only supported on server-side SDKs as not expose the api_secret.

[2018-02-08 09:30] hiredgun commented on #45
@d-mendoza thx, that's what I thought :)

[2018-02-08 09:30] #45 closed

[2018-02-20 13:04] DanaShalev100 commented on #34
Hi @brmenchl. I'm trying to address the issue you described above.
First I want to explain that at the time this code was written the CDN did not handle `dpr_auto` param and therefore we added client side logic for it. It was decided to add it only for `responsive` mode.
Today, the `dpr_auto` param is handled at the CDN level. So if you are using the param you should get the right dpr even if you

[2018-02-25 08:48] lorensr opened #47 "FR: add option for making the image a link"
[code]

[2018-02-25 13:08] strausr commented on #47
@lorensr While this is currently not on our roadmap I'd be happy to let you know if this is implemented in the future.

[2018-02-25 21:57] liamjohnston commented on #20
Oh man, the HOURS I spent tracking down this bug. For me it was quite severe, causing most of my page to not render at all. But weirdly, only on mobile, making it extra tricky to debug.

The fix I went with was just referencing the image and transforming it by URL, not using cloudinary-react at all, i.e.:

[code]

(may not work for all use cases)

[2018-03-14 12:41] angrytoad commented on #20
So I ended up having to come back to this problem after over 6 months and I have some thoughts.

1. Firstly, it looks like if you remove the Cloudinary Context AND Remove the individual Transformation components and instead apply transformations to only the image component then this solves the problem.
2. If you need more than one transformation, I'm not currently aware of a way to achieve this us

[2018-03-15 06:52] eitanp461 commented on #20
@angrytoad this should have been fixed by #39, and published in version [1.0.6](https://github.com/cloudinary/cloudinary-react/releases/tag/1.0.6).
Which version of the SDK are you using?

[2018-04-06 15:15] adregan opened #48 "Rendering only the children with no additional div"
It seems that there isn't a reason to render an additional `div` in the [`ClodinaryContext` component](https://github.com/reactjs/react-redux/blob/master/src/components/Provider.js#L36), and that the component could instead simply render the children (similar to the [react-redux `Provider`](https://github.com/reactjs/react-redux/blob/master/src/components/Provider.js#L36)).

This would have the be

[2018-04-10 09:32] strausr commented on #48
@adregan Thanks for bringing this to our attention. I've taken this internally and will update you once this change is made.

[2018-04-11 11:02] runar-rkmedia opened #49 "width: auto and containerwidth comma-size"
If the container of `Image` is a value of any decimal-number, the image will not show at all. This could easily be fixed by rounding the width, but currently this library does not do that.

Currently, in one of my containers, it will produce a link link this:

`https://res.cloudinary.com/account/image/upload/c_scale,dpr_2.0,f_auto,q_auto,w_143.5/image`

[2018-04-11 13:13] strausr commented on #49
@runar-rkmedia Note that Float values are used to indicate a relative resizing (e.g. w_0.5 for half the width of the input image). You're not seeing the image with w_143.5 since the resulting image is too large.

[2018-04-11 13:16] runar-rkmedia commented on #49
I understand. Either way, floats for the container-width will break this. I've submitted a fix for it.

[2018-04-19 12:12] konrad147 opened #51 "Breakpoint steps is not working"
I have a component like this:
[code]
`Cloudinary JS SDK` by default use breakpoint steps value = 100, which means I do not make requests for images sizes like 124px, 223px and so on. Using `Image` component it is no longer true. It always gets the exact width of the container.
I tried to set `responsiveUseBreakpoints` flag on `CloudinaryContext` element but with no effect.
What I discovered in `Im

[2018-04-26 09:08] paschaldev opened #53 "Multiple Images with Transformation causes page to almost crash"
I have a page that loops through 12 items and renders and `Image` with `Transformation`, this blocks the rendering of other items and I get the "Unresponsive Script" warning from firefox, this causes my entire page to hang for 10-15seconds and almost rendered unresponsive.

I already set my context. I have a component like this

### UserList.js
[code]

I use this component like this:

### user_inf

[2018-04-26 09:26] strausr commented on #53
@paschaldev Can you please elaborate on what versions you're using and if there is a live page we can take a look at?

[2018-04-26 09:29] paschaldev commented on #53
"cloudinary-react": "^1.0.6",

It's not live yet. I'm working on localhost. I'm using Next.js framework also

[2018-04-27 07:30] strausr commented on #53
Unfortunately, we're unable to reproduce this on our end. Can you please share with us your project so that we can take a closer look? If privacy is an issue please feel free to open a ticket at support@cloudinary.com

[2018-04-28 23:33] paschaldev commented on #53
I understand. I will close this for now and when I have a better repo to put out, will re-open.

[2018-04-28 23:33] #53 closed

[2018-04-30 09:10] strausr commented on #51
@konrad147 Please note that the breakpoints are set by the size of the parent container.

For example,

`
<div className="imageContainer">
    <Image
        cloudName="<cloudname>"
	responsive
	width="auto"
	crop="scale"
	publicId={this.state.publicId}
     />
</div>

.imageContainer {
	width: 80vw;
}
`

If you want to set breakpoints, then the following will round up to the upper limit-

`
<div

[2018-05-07 07:31] konrad147 commented on #51
@strausr Ok, `responsive_use_breakpoints` works with `Image` tag, but it does not work with `CloudinaryContext`, because `CloudinaryContext` expects `responsiveUseBreakpoints` property (which is not valid in the breakpoints checking code).
Moreover using `breakpoints` property on the `Image` tag throws error because it renders `img` tag with `breakpoints` attribute which is invalid in that place.

[2018-05-08 08:43] strausr commented on #51
@konrad147 We're unable to reproduce the above. Can you please elaborate on what you're trying to achieve?

[2018-05-15 08:27] bkniffler commented on #4
Don't know @somerohit, I've moved away from using cloudinary react components. But looking at the commit history (https://github.com/cloudinary/cloudinary-react/graphs/commit-activity) tells me that this lib hasn't been getting the love it needs.

[2018-05-15 08:29] strausr commented on #4
@somerohit Please note that the upload widget is purely client side and can be simply integrated using a single js request. http://jsfiddle.net/RayStra/gevc4ktm/

[2018-05-15 11:01] TiagoGouvea commented on #4
I write a [React component](https://github.com/app-masters/react-cloudinary-uploader) to upload and we are using it for months. It's not incredible solution, but it just works like expected.
It can be used static (without react component) or with component:
[code]

Take a look to repo, and do a PR if you want to help.

[2018-05-21 10:26] paschaldev opened #54 "Images look blurry on a retina display"
I added the `dpr="auto"` but no luck still.

[code]

I even used the `cloudinary` package to generate a URL for background images with `dpr` flag but it doesn't render nicely on retina displays.

[code]

However, if I set the `dpr="3.0"`, it works. Any solution or workaround for automatic display detection?

[2018-05-21 11:52] strausr commented on #54
@paschaldev Can you please share with us the image you're using?

Can you please try removing the extra styling from the Image tag?

[code]

[2018-05-21 14:05] paschaldev commented on #54
I have removed the extra styling, nothing changed. The reason why I added the extra styling was beacuse if I set `dpr=3.0`, the image grows bigger than the container so I had to make it the same height as the image which renders sharply on the retina screen.

Full url of the image: `http://res.cloudinary.com/rovyl/image/upload/b_rgb:000000,c_fill,dpr_3.0,e_colorize:24,h_700,w_2000/v1/zyombo/africa

[2018-05-22 09:38] strausr commented on #54
@paschaldev Unfortunately, we're unable to reproduce the blurriness you mentioned. Is there a live page we can take a look at?

If you set the image as `responsive` you get the DPR calculation. Regarding dpr=“auto” it needs client hints to work (otherwise the backend doesn’t know which image DPR to return).

[2018-05-22 13:53] paschaldev commented on #54
Doing this doesn't work

[code]

Here is the link to the live app.

https://zyombo-app.herokuapp.com

[2018-05-24 09:34] strausr commented on #54
When I run your request
`cloudinary.url(props.cloud_image_id, { responsive: true, dpr: 'auto', height: 700, width: 2000, crop: "fill", background: "#000000", effect: "colorize:24"})`

I get the following URL which has dpr_auto http://res.cloudinary.com/rovyl/image/upload/b_rgb:000000,c_fill,dpr_auto,e_colorize:24,h_700,w_2000/zyombo/african-3387292

If you would like us to take a closer look, plea

[2018-05-31 10:29] eitanp461 commented on #20
@nryoung can you reproduce this problem in an online sample we can access?

[2018-05-31 16:59] nryoung commented on #20
@eitanp461 I created a sample app here: https://nifty-sword.glitch.me

It is especially noticeable when the images are not cached in the browser, it seems to delay rendering until all of the images are loaded.

[2018-06-05 15:57] strausr commented on #20
@nryoung What we're seeing is normal creation time for on-the-fly transformations. Another option will be to generate the transformations eagerly https://cloudinary.com/documentation/upload_images#eager_transformations

[2018-06-05 16:42] nryoung commented on #20
@strausr I unfortunately couldn't replicate it exactly in the example app, but in a real application with tons of DOM elements the transformations slow down significantly, eg. `~500ms` per transformation.

Besides this being the normal creation time for on-the-fly transformations, you will notice even in the example app it blocks rendering of any of the DOM elements until the all of the transforma

[2018-06-07 23:28] strausr commented on #20
@nryoung Unfourtnantly, we were unable to see any blockage of the DOM elements. That being said can you please share with us your yarn.lock or package-lock.json?
Also, can you send us your profiling data from Chrome?

[2018-06-08 00:04] kbi-daniel opened #55 "React does not recognize the `signUrl` prop"
I am getting the following console error when attempting to pass the signUrl prop:

My code is pretty simple:
[code]
I suspect this is some sort of parsing issue, since the React code is being translated to the DOM as an `<img>` tag that seems to contain an errant signurl attribute.
`<img signurl="true" src="http://res.cloudinary.com/kbi-images/image/private/myPublicId.jpg">`

This error seems to

[2018-06-08 22:44] marissa-masangcay commented on #55
Hi,

The signURL attribute is not supported for our client-side SDKs. You would need a server to generate the signature so you would want to use one of our SDKs such as node, java, PHP, ruby, etc to do so.

[2018-06-08 23:15] kbi-daniel commented on #55
Thanks for the response Marissa. I guess I was confused because the Image Edit screen, within Cloudinary's Media Library, automatically adds the signUrl prop to the Image React component.

Why is this signUrl prop automatically added to the React component if it can never be used client-side?  Does it serve another purpose?
![capture](https://user-images.githubusercontent.com/29407020/41184609-5ad

[2018-06-09 17:10] skube opened #56 "Full page hero video"
Would one use this component library to create the full page hero background effect popularly seen on many websites these days?

[2018-06-11 23:22] marissa-masangcay commented on #55
Hi,

Unfortunately, this is a bug in our UI and I sincerely apologize for any confusions that this may have caused. This particular attribute should not be displayed for any of our client-side libraries as you need a server to generate the signature.  Thank you for pointing this out to us.

[2018-06-19 18:57] lisamartin00 opened #58 "Don't render on empty string for this.state.url"
We are noticing some flash of broken images on page load.

The `<img>` is rendered even when `this.state.url` is empty, so you briefly get
`<img src="" />`,
which will flash a broken image in Chrome before rendering the correct one.  (The broken image is showing up if you have a fixed width/height wrapper around your image).

Checking the length of `this.state.url` before returning the `<img>` in

[2018-06-19 20:00] lisamartin00 commented on #58
Whoops - I was mistaken.  The fixed width/height issue is not on a wrapper, but on the image itself.

Here's a codepen to reproduce the issue:
https://codepen.io/lisamartin00/project/editor/ZBjYwr

[2018-06-20 03:44] lisamartin00 commented on #58
I've submitted a PR for this: https://github.com/cloudinary/cloudinary-react/pull/59

[2018-07-11 13:49] goldenshun commented on #58
@shirlymanor @tocker Any updates on PR https://github.com/cloudinary/cloudinary-react/pull/59?  The broken images are a large problem for us and the fix seems fairly simple.

[2018-07-15 11:41] skube commented on #56
Something like what Pepsi does: https://www.pepsi.com/en-us/

[2018-07-16 07:54] strausr commented on #56
We currently don't have such a feature. That being said, we'll update if it is added to our roadmap.

[2018-07-26 09:16] #58 closed

[2018-08-08 01:28] skube opened #62 "IE11 Object doesn't support property or method 'assign'"
I seem to be having an issue with IE11 crashing when using videos.

For example, simply using something like the following:

[code]
On IE11 this appears to load then goes to blank screen. Works fine in other browsers and devices.

From the IE Console, it appears the error is `Object doesn't support property or method 'assign'`

When I use the HTML5 native `<video>` like the following, it works in

[2018-08-09 00:25] skube commented on #62
n/m I think I just needed to install the `babel-polyfill`

So:
[code]

And then `import 'babel-polyfill'` in my `layouts/index.js`

[2018-08-09 00:25] #62 closed

[2018-08-19 04:27] inunotaisho26 opened #63 "Need help creating Typescript typings for cloudinary-react"
I am posting this issue here for others if they'd like to help. I am working to create typescript typings for `cloudinary-react` as I use `.tsx` when writing a `React` app. Catches bugs pretty quickly.

Repo i have forked: https://github.com/inunotaisho26/cloudinary-react.

[2018-08-25 09:36] alextiley opened #64 "Using secure prop with a custom cname results in incorrect domain path"
I'm trying to configure cloudinary-react to output images accessible via a custom cname. The documentation specific to cloudinary-react is very sparse and seems to show the happy path (using cloudName).

With the props below, I've managed to get image URL's to output like this (almost correct).

http://media.mysite.co.uk/image/upload/myImage

[code]
The cloudName prop seems redundant but my app di

[2018-08-28 07:12] roeeba commented on #63
Hey @inunotaisho26. Thanks for sharing!

[2018-08-28 07:12] #63 closed

[2018-08-28 13:39] alextiley commented on #64
Hi @strausr

`mysite` isn't actually the name of the cname, I'm working on a private repository on the advanced plan and didn't want to share my client's information publicly.

I've opted to use the SDK directly now instead which gives me better results with the same data. However, I still think there is a bug in the way that your React component handles these props so it might be worth you guys i

[2018-08-28 18:05] sverraest opened #65 "Folder names to the publicId property used in Image component breaks url"
I'm trying to generate a URL to a cloudinary image by passing the folder appended to the publicId in the "publicId" property of <Image>.

This process is described here for the generic solution: https://support.cloudinary.com/hc/en-us/articles/202520902-Can-I-create-folders-in-my-Cloudinary-account-

The <Image> component however puts this at the end after any manipulations so not immediately afte

[2018-08-29 11:17] strausr commented on #64
@alextiley Thanks for the update. For future investigation, please open a ticket at support@cloudinary.com with more information on your implementation.

[2018-08-29 11:17] #64 closed

[2018-09-10 03:45] thesullivantage opened #66 "Links at bottom of readme do not work"

[2018-09-10 08:12] strausr commented on #66
Can you please elaborate on what link you're referring to?

[2018-09-13 09:46] roeeba commented on #51
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-09-13 14:53] rshackleton opened #67 "Performance issue with list of Image components"
Using the following:

[code]

I'm experiencing a significant performance issue when causing a re-render of a list of product cards containing Image components.

![image](https://user-images.githubusercontent.com/13448395/45496278-f89a1a80-b76c-11e8-8b94-f14593f097df.png)

The `componentWillReceiveProps` lifecycle event is taking around 170ms per Image component.

Looks to be related to a recursive

[2018-09-17 08:07] strausr commented on #49
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-09-17 08:07] #49 closed

[2018-09-17 12:04] strausr commented on #67
Do you have a live example that you can share with us where this is occurring?

[2018-09-23 22:09] podeig opened #68 "Can't resolve 'redux' error"
Hi
After installing npm install, I run npm start and get the following error:

./node_modules/react-redux/es/connect/mapDispatchToProps.js
Module not found: Can't resolve 'redux' in '/Users/denis/Development/photo_album/node_modules/react-redux/es/connect'

What is a reason for this?

[2018-09-26 10:25] skube opened #69 "Forcing a new version"
When replacing an image or video with a new uploaded version, how does one specify the version in this component? Simply replacing the asset won't immediately update as the asset is cached.

[2018-09-26 12:54] skube opened #70 "Mixed Content warning when serving over HTTPS"
Just curious, I'm seeing a Mixed Content warning in Chrome Dev Tools Console:

[code]
How does one specific to use the `https` version when using this component?

[2018-09-26 14:37] eitanp461 commented on #70
@skube this weird, since the protocol for serving images from Cloudinary relies on the `window.location.protocol`, see https://github.com/cloudinary/cloudinary_js/blob/a50f25d3bb308c98549308667836fe165f9ff383/src/configuration.coffee#L15.

You can force the SDK to use HTTPS by providing the `secure` attribute, e.g.:

[code]

See full example here - https://codepen.io/eitanp461/pen/pOZwJe.
You can

[2018-10-02 21:59] Halling69 commented on #69
Hi if you read this article: https://support.cloudinary.com/hc/en-us/articles/202520852-I-ve-replaced-an-existing-image-with-a-new-one-but-my-website-still-shows-the-old-one-Why-is-that-  you will see that you should use the version tag, described here: https://support.cloudinary.com/hc/en-us/articles/202520912-What-are-image-versions-

Alas, version is not (yet) a supported property of the module

[2018-10-02 22:41] Halling69 commented on #69
looks like yo can do:
            <Image
                  className="card-img-top"
                  alt="foo bar "
                  cloudName="yourcloud"
                  publicId={imageId}
                  **option= {{version = cloudinaryVersion}}**
                  crop="pad"
                  width={width}
                  height={height}
                  responsive = "true"

[2018-10-03 00:35] Halling69 commented on #69
just use the version option, it not documented but it is working:
 <Image
          id={publicId}
          className="some-css-class"
          alt={alt}
          cloudName="some_cloud"
          resource_type={"image"}
          publicId={publicId}
          **version= {cloudinaryVersion}**
          crop="pad"
          dpr="auto"
          responsive
          width="68"
          height="68"

[2018-10-03 11:25] #69 closed, assigned to nobody

[2018-10-08 15:59] ScreamZ opened #71 "Support for react-native"
Hello,

First I would like to say good job for this library, seems being full of good react practices.

I would like to use this library with `react-native`. I think it's a simple conditional on using `<Image>` component instead of web `<img>` component. Nothing harder (I might be wrong), this can be prototyped using https://snack.expo.io.

(react-native is shipped with a `fetch` polyfill.)

Can w

[2018-10-08 16:58] skube commented on #70
I added the `secure` prop and it works. Thanks!

[code]

[2018-10-08 16:58] #70 closed

[2018-10-09 08:32] strausr commented on #71
Thanks for the kind words:) We currently don't have an ETA for a react native library. However, we'll update here if this changes in the future.

[2018-10-23 13:34] ricByte opened #72 "Video component for adaptive bit rate streaming"
Hi,
i'm trying to use your component for Videos with adaptiveBitRate format(mpd).
It's possible?
This is an example of how I use it
Thanks

[code]

[2018-11-06 20:17] joelgetaction commented on #71
+1 for React Native support.  We really want to use Cloudinary in a large project, but lack of React Native support is holding us back from using Cloudinary ...

[2018-11-12 16:07] tangentlin opened #74 "TypeScript definition support?"
Could we have official support of TypeScript definition for this excellent component?  I am aware of previous effort as in #63 , but having official TS backing would help adapt to larger project efforts.  Thanks!

[2018-11-12 18:46] aditimadan-Cloudinary commented on #67
@davidfrtala as @strausr mentioned it will be great if you could share an example or a link where this issue can be reproduced.

[2018-11-14 18:21] roeeba commented on #74
Hey @tangentlin. Thanks for the feedback! Glad you like our work :)
Please see our comment here - https://github.com/cloudinary/cloudinary_npm/issues/175#issuecomment-434718369.
Updates to follow.

[2018-11-19 19:52] nate770 opened #75 "Images loading as a broken image"
A little bit of background first

I'm displaying images stored in a private s3 bucket using auto upload in the url
Relevant Links: https://cloudinary.com/documentation/fetch_remote_images#auto_uploading_with_on_the_fly_transformations
https://support.cloudinary.com/hc/en-us/articles/203276521-How-do-I-allow-Cloudinary-to-read-from-my-private-S3-bucket-

Everything was working alright when I was ma

[2018-12-11 14:51] Halling69 commented on #49
Hi,

This merge is highly relevant to make width:auto work with the react component

[2018-12-12 10:45] divsbhalala commented on #75
i am also getting same error for big size image
![image](https://user-images.githubusercontent.com/12185309/49864703-14bf5d80-fe29-11e8-966f-9a5344acef5b.png)

[2018-12-12 11:15] strausr commented on #75
@nate770
The problem here is that responsive images width is currently calculated by Javascript, delaying the setting of the actual value for the <img>’s src attribute.

During that time when <img> is rendered to the HTML but without a valid src it shows up as a broken image, see https://codepen.io/eitanp461/pen/dQZKYr

A possible solution for this is to hide the image until it loads using its onl

[2018-12-12 11:16] strausr commented on #75
@divsbhalala This is not enough information to asses why your image is nor rendering. Please provide more information on your implementation as well as the URL you're using.

[2018-12-12 12:10] divsbhalala commented on #75
@strausr Thanks for reply i just fixed this issue by adding this line on component source file
`render() {
    var {publicId, responsive, responsiveDebounce, children, ...options} = CloudinaryComponent.normalizeOptions(this.props,
      this.context);
    var attributes = cloudinary.Transformation.new(options).toHtmlAttributes();
    if (!this.state.url) {
      return
    }
    return (
      <im

[2018-12-17 06:29] wwaterman12 opened #76 "Does order of image params matter?"
We get the following successes/failures in rendering cloudinary images in our env and I don't understand why they should/shouldn't work:

[code]

Does order of image params matter? Am I missing something in how `width`,`height`, and `quality` affect one another?

[2018-12-17 06:48] yakirp commented on #76
Could you please share a full image URL for example? (one that fails)

[2018-12-17 07:15] wwaterman12 commented on #76
@yakirp Apologies if this isn't the right channel for this type of issue as it's more related to cloudinary in general instead of React specifically.

But here is the example URL I used with the above successes and failures (with this one being one of the failures):
- http://res.cloudinary.com/hstcxjula/image/upload/h_39,q_auto,w_33/top_destinations/tokyo

[2018-12-17 08:04] wwaterman12 commented on #76
@yakirp Thank you for your quick response.

I've actually had the same issue with both adding `v1` and not adding it but can't seem to reproduce consistent successes/failures one way or the other.

But one thing that I don't understand - if `X-Cld-Error: Invalid transformation parameter - top` is really the issue, then why would the order of the parameters affect whether it loads properly or not?

[2018-12-17 10:08] yakirp commented on #76
So I checked this internally, and we think that there is an issue on our end about that.
Using such URLs (with the "_") should not work, you must always use the `v1`.

I will keep you posted, meanwhile please deliver your images only with `v1`.

Cheers

[2018-12-20 15:52] yakirp commented on #76
Hi
I'm checking the issue with the team, I will keep you posted.

--Yakir

[2018-12-31 23:02] shirlymanor commented on #72
Hi,
I'm sorry for the late response!

Cloudinary does support MPEG-DASH.

Here is detailed information for your review:
https://cloudinary.com/documentation/video_manipulation_and_delivery#adaptive_bitrate_streaming_hls_and_mpeg_dash

Hope that helps

[2019-01-07 14:40] roeeba commented on #20
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-01-07 16:20] strausr commented on #75
Updating that issue is related and has been fixed in-https://github.com/cloudinary/cloudinary-react/releases/tag/1.1.0

[2019-01-07 16:20] #75 closed

[2019-01-07 16:30] strausr commented on #54
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-01-07 16:30] #54 closed

[2019-01-07 16:31] strausr commented on #56
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-01-07 16:31] #56 closed

[2019-01-07 16:32] strausr commented on #66
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-01-07 16:32] #66 closed

[2019-01-07 16:32] strausr commented on #67
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-01-07 16:32] #67 closed

[2019-02-04 16:51] ScreamZ commented on #71
I think this can be pretty easy, just checking context and replace `img` by `Image`. Maybe more difficult when using responsiveness.

In fact you can make one component on your own using the SDK. Not too hard.

[2019-02-05 21:58] micahkatz commented on #71
@ScreamZ how are you planning on accomplishing this in RN? I have the same problem, and can either figure out how to do this in react native or make react native make a request to my server, which then requests to Cloudinary. I want to make this the most efficient possible

[2019-02-06 00:06] ScreamZ commented on #71
Just use this: https://github.com/cloudinary/pkg-cloudinary-core

Make a component, that will render an Image component using the generated url

[2019-02-06 00:14] micahkatz commented on #71
@ScreamZ Thank you for responding. I can definitely get that working now, but I am now concerned about compression. Does it compress the photos automatically?

[2019-02-06 09:07] ScreamZ commented on #71
@micahkatz Not automatically, as you can read on the client documentation you can pass some parameters, one good practice is to define named transformations on cloudinary back-office and you can pass them as parameter while generating the URL with the frontend client.

[2019-02-06 09:11] ScreamZ commented on #74
I agree with the comment you linked, but it's also in your interest to update the user experience for your product, you can rely on community for support but you can delegate everything to them.

I'm not flaming, I'm just trying to find a nice compromise for everybody :) We can work together hand in hand on that case if you would like so.

Regards

[2019-02-12 11:40] JulianJorgensen commented on #65
@sverraest I had similar issue, but when I referenced the folder name using lowercase then it worked.

E.g. `publicId="folderhere/image.jpg"`

[2019-02-18 12:10] chicgeek opened #79 "Using `cloudinary-react` with `data-src` instead of `src`"
## Question / feature request
Is it possible to set the src value in a `data-src` (or otherwise customisable) attribute instead of `src` when using the `<Image />` component?

## Context
I am using `cloudinary-react` in conjunction with [`react-id-swiper`](https://github.com/kidjp85/react-id-swiper). To take advantage of the lazyloading functionality packaged in the slider (only load images when t

[2019-02-24 23:12] mikestaub opened #80 "upload widget v2 bugs"
I noticed when using the upload widget that the tags I set in the options are not always set. I am generating a signature on my server with the params given by the uploadSignature() option. Sometimes those params are missing the tags or context, so when the POST request is sent using the signature I get a 401. This problem is intermittent.

Is the upload widget code open source? Where do we submit

[2019-02-25 21:40] aditimadan-Cloudinary commented on #80
Can you please raise a support ticket here: https://support.cloudinary.com/hc/en-us/requests/new with your cloud name, code and the parameters you passed in order to reproduce the issue.

[2019-03-14 10:54] ronnyhaase commented on #70
Hello, we noticed the same issue just today with v1.1.0.

[2019-03-15 10:45] strausr commented on #70
@ronnyhaase did you try the solution above?

[2019-03-15 10:51] ronnyhaase commented on #70
Yes I did, @strausr and it works.
But I think it would be nice if that wouldn't be necessary and to have a look at the actual reason.

[2019-03-15 12:10] 2ajoyce commented on #74
If anyone ends up here and is as confused about the current state of the typings as I am, here are the typings I wrote up since there aren't official ones. https://pastebin.com/uM0RRJGb

@roeeba If there's a better way for me to get typings for cloudinary-react, or help make them, let me know. I couldn't find one.

[2019-03-18 20:34] laurisbernhart opened #82 "Transformation component bug"
When I include the <Transformation/> tag, the page renders about 1 second slower!

I don't think that the props are wrong, because it actually renders - just really slow.

Do you think you can solve that in the upcoming time?

Otherwise I will probably use cloudinaryCore to build up the url string and use a normal img tag. Or do you have any better solution?

![image](https://user-images.githubuse

[2019-03-18 21:46] d-mendoza commented on #82
Is this for a resource that is being accessed for the first time? Is this slowness observed when the same resource is accessed again?

[2019-03-20 12:55] jimmiebtlr commented on #20
This is still a major issue

![image](https://user-images.githubusercontent.com/1325560/54685689-c83b9a80-4b5a-11e9-81db-b76c3e082814.png)

[2019-03-20 12:56] jimmiebtlr commented on #20
From package-lock, on the most recent version.

![image](https://user-images.githubusercontent.com/1325560/54685755-f0c39480-4b5a-11e9-9ab6-83f30e7ad62f.png)

[2019-03-20 12:56] jimmiebtlr commented on #20
Getting rid of transform noticeably speeds up the app.

[2019-03-20 12:57] jimmiebtlr commented on #20
Looks like #82 is the same issue.

[2019-03-22 13:19] laurisbernhart commented on #82
Hi @d-mendoza ,

sorry for my late reply - I did not receive any notification that you answered.

Slowness is observed always! Even if the image is pulled from cache.

Best Lauris

[2019-03-27 03:59] d-mendoza commented on #82
After running some initial tests, everything seems to load as expected and within a reasonable about of time < 1 second. We may need you to share more details like:

- Cloud name?
- What are the public_id of the resources?
- How many images are loaded on the same page?
- Where is your account making these requests from? Do you have a live page that we can view how long it loads?
- Can you create a

[2019-03-27 04:15] SinYooDong opened #83 "Is there a different way to use the directory structure?"
# Question
----
I have Specific images in my Cloudinary by directorying them.

The code below shows the image normally.
[code]
However, the following code will receive 404.
[code]

[url made by SDK.]

http://res.cloudinary.com/mycloud/image/upload/c_scale,h_400,w_680/zbtlrsyb5xqr7kvbw0b4
[actual required url]
http://res.cloudinary.com/mycloud/image/upload/c_scale,h_400,w_680/mySpecific/zbtlrsyb5xq

[2019-03-27 09:16] strausr commented on #83
Can you share with me your cloudname so that I can take a look? You can also open a ticket at support@cloudinary.com if you don't want to share this information publicly.

[2019-03-27 12:16] SinYooDong commented on #83
Thank you for your answer. I will search again and send a mail.

[2019-03-27 12:16] #83 closed

[2019-04-03 16:23] wallawe commented on #20
Just spent hours trying to figure this out - my modal with 17 images takes *6 seconds* to open (they're very small images too)...

When I switched over to using the direct URL everything worked fine.

Before:
![image](https://user-images.githubusercontent.com/1158544/55495416-dc77a100-560a-11e9-8c4d-8f59fa8bca8c.png)

Profiler makes it look like the GPU got completely toasted
![Screen Capture on 2

[2019-04-05 00:40] mattjennings opened #85 "Video component does not work with thumbnail generation"
Following the [React Example](https://cloudinary.com/documentation/video_manipulation_and_delivery#generating_video_thumbnails), using a `Video` component with a `publicId` of `someVideoId.jpg` does not turn the Video component into an Image like the docs suggest.

I've created a [codesandbox](https://codesandbox.io/s/pmmq5n9nzm) example to demonstrate the issue.

[2019-04-05 22:54] d-mendoza commented on #85
Thank you for reporting this and I will pass this along to our dev team.
In the meantime, you can use an Image component and specify the resource_type as "video".

import { Video, Image } from "cloudinary-react";
. . .
<Image cloudName="demo" publicId="dog.jpg" resourceType="video" />
OR
<Image cloudName="demo" publicId="dog" format="jpg" resourceType="video" />

This should generate the image thu

[2019-04-05 23:06] mattjennings opened #86 "Default "poster" value for Video is incorrect"
The documentation for `poster` under the [Embedding videos in web pages](https://cloudinary.com/documentation/video_manipulation_and_delivery#embedding_videos_in_web_pages) section suggest that the default poster should be "the middle frame of the source video in jpg format". However, it looks like it is instead the first frame of the video. Additionally, it shows a blank/white poster on iOS devic

[2019-04-05 23:06] mattjennings commented on #85
Thanks!

[2019-04-08 08:14] strausr commented on #86
Thanks for bringing this to our attention.

[2019-04-08 08:49] tocker commented on #20
@wallawe can you try the Image component with a transformation attribute instead of a tag?

[code]

Let us know if it made a difference.

[2019-04-08 19:43] wallawe commented on #20
@tocker Yep, that solved the problem as well. Thanks for your reply.

[2019-04-11 09:49] edwardsilhol commented on #20
Hey guys, I had to hunt for this for hours, maybe update the Cloudinary React documentation with this syntax ? Thanks for the solution !!!!

[2019-04-11 13:32] tocker commented on #20
We need to figure out why this tag is misbehaving. Otherwise, I'm considering to drop the transformation tag altogether.

[2019-04-11 16:06] slackday commented on #20
Hey returning to this two years later I believe I've found the cause of this issue. However I'm not so experienced debugging libraries/node_modules. Anyone know a good way how I can run this library and do some modifications to try out?

[2019-04-16 16:22] d-mendoza commented on #85
@mattjennings
After reviewing this more thoroughly, the html5 video player tag automatically includes a poster image, so this is not a bug. Although it is not shown expliclity, you can show it this way:

`<Video poster="https://res.cloudinary.com/demo/video/upload/dog.jpg" cloudName="demo" publicId="dog.jpg" resourceType="video" />`

Let me know if this is clear.

[2019-04-16 17:50] mattjennings commented on #85
Unfortunately that doesn't _quite_ do what I was expecting from the documentation.

The poster would be for the `video` element that gets rendered, but the documentation page suggests this is how you would get the `<Video />` component to render an `img` element with a generated thumbnail. If you inspect the preview from that documentation page, it is indeed an `img` element, but in my example it

[2019-04-17 14:19] pho3nixf1re commented on #70
The problem for us is that we do SSR which does not have access to `window.location.protocol`. So when it is rehydrated in the client not only is it mixed content but the app HTML does not match what React renders causing issues. The solution is manually setting the `secure` option.

[2019-04-18 19:54] d-mendoza commented on #85
If the desired result is to just have a poster image without any video, I would suggest using the previous method of having `<Image cloudName="demo" publicId="dog.jpg" resourceType="video" />` . I will also communicate to our docs team to clarify this portion of the documentation. We appreciate the feedback.

[2019-04-23 10:06] tocker commented on #20
@slackday You can fork this repository, make your changes and run the tests.
You can play with the components in the storybook:

[code]

The story at `stories/index.js` is linked to the sources so any change you make will affect the result.
Modify the storybook or create your own storybook to test the transformation component.

[2019-04-23 10:41] slackday commented on #20
@tocker Thanks I will give it a try. Sounds like a good opportunity to learn some new tools.

If you want to move along on your own hand with resolving this issue I found that it seems to be related to the Image component and more specifically calling `handleResize` on `componentDidMount`.

https://github.com/cloudinary/cloudinary-react/blob/master/src/components/Image/Image.js#L79

Issue goes awa

[2019-04-24 16:37] AdamTyler opened #89 "Cannot read property 'opener' of null"
Seeing the above error come up in the file cloudinary-core.js

[code]

Seems like the majority of users experiencing these bugs are on Samsung browser on Android

[2019-04-26 22:26] d-mendoza commented on #89
Hi @AdamTyler

To better assist in diagnosis this issue, can you provide the following:
- A reproducible test case, either a live web page or a JSFiddle.
- What browser and android versions?
- Are you using react or just cloudinary-core? What are the package versions?

[2019-04-29 19:59] AdamTyler commented on #89
Unfortunately I'm not able to nail down the actual case that is producing this error, it just comes through our error tracker (Honey Badger).
Most of the errors are happening on Android Samsung Browser 9.2, but we are also seeing them on Chrome Chrome 64/65 Windows and Mac.
Here is a stack trace as far back as I can get it:
[code]

[2019-05-13 17:49] #72 closed

[2019-05-22 12:15] barbalex opened #90 "simpler photo_album sample"
I have a hard time understanding this sample.

It assumes readers are accustomed to:
- react-router
- react-redux

A truly simple example would not expect readers to read up on other libraries to understand the code.

Especially react-redux can be very annoying for people like me who use primarily local state (via hooks) and where necessary react context (via hooks) or mobx instead. The reason is

[2019-05-22 15:24] mikestaub opened #91 "upload widget custom border-radius"
How can I apply arbitrary styles to the upload widget? We want it to match the theme of our website.

[2019-05-22 22:47] shirlymanor commented on #91
@mikestaub You might want to use our demo page to match the best theme to your website here: https://demo.cloudinary.com/uw/ (it generate the code by the theme that you choose).

[2019-05-23 02:49] mikestaub commented on #91
This api only allows me to change the colors. I want to customize the css of the entire widget. Is there a customCSS config option?

[2019-05-23 15:49] shirlymanor commented on #91
@mikestaub It's on our road map to add an option to edit the CSS. However, there is no ETA yet. we will update when will have an ETA.

[2019-05-27 08:07] strausr commented on #79
@chicgeek it seems that this issue was resolved internally but in case anyone else is looking at this. We are already using data-src for internal uses by the JS SDK responsive mechanism, and overloading it with additional meaning will cause conflicts.

The following is an example that uses our code SDK for creating responsive images using the carousel mentioned below.
It uses our API for creating

[2019-05-27 08:07] #79 closed

[2019-05-27 09:30] strausr commented on #90
@barbalex Thank you for the feedback. The photo album comes to demonstrate a real-life application and therefore includes your described complexities. You can take a look at our documentation for more information on our SDK-https://cloudinary.com/documentation/react_integration

Moreover, if you have any specific questions I'd be happy to assist you.

[2019-05-27 09:45] barbalex commented on #90
@strausr Thanks for your input.

Due to the upload widget not being Gatsby-compatible (https://github.com/cloudinary/pkg-cloudinary-core/issues/25) I have switched to a different service provider and do not have all details in the front of my mind any more. But I do remember that a few things you need to know to get this working are not documented in the SDK and I could only find them in this exam

[2019-05-27 09:45] #90 closed

[2019-05-28 09:00] chicgeek commented on #79
Thanks @strausr.

For others who come later, it does seem that it's not possible to achieve this using specifically `cloudinary-react`, but an alternative method using the core module is the in the sandbox link posted above.

[2019-06-06 11:44] tocker commented on #20
@slackday @wallawe @edwardsilhol @jimmiebtlr @angrytoad @nryoung
Version 1.1.1 was published today. It should fix the problem.

I'd appreciate your feedback!

[2019-06-10 19:14] saddamhbb opened #101 "Error Document is not defined - Cloudinary React on Server Side Rendering"
Hi there cloudinary team :)

I got this error when implement cloudinary on server side rendering:
(node:40320) UnhandledPromiseRejectionWarning: ReferenceError: document is not defined.

Is there any workaround to fix this?

Thanks.

[2019-06-10 19:48] saddamhbb commented on #101
Seems like I already fixed it.

For anyone who stuck with the same problem like me, if you want to call the <Image /> or <Video /> component you need to make sure your component already mounted.

So you need to create a initial state didMount = false, and when component already mounted, call the this.setState to set didMount = true in componentDidMount lifecycle.

And in your render life you can d

[2019-06-11 07:27] strausr commented on #101
@saddamhbb Thanks for the input!

[2019-06-12 04:43] saddamhbb commented on #101
@strausr Sure, Anytime :)

[2019-06-28 21:18] GaddMaster commented on #21
Theres an easy way for achieveing this. Im about to undertake it.

// This is just example idea
const myCloudinaryPath = "www.cloudinary.com/username/folder/";
const publicId = props.image.publicId;

[code]

I think this will work, I am about to try it now anyways ... hehe

[2019-06-29 10:19] vfonic commented on #21
@GaddMaster how do you apply any transformations to your image? If I'm trying to render a small thumbnail 100x100px, for example for user avatar/profile pic, if I use your methods, it will render the full size image that was uploaded to cloudinary, right?

So, the user can upload 2000x2000px profile image and that will now render in this small square and unnecessarily cost page visitors their band

[2019-06-29 14:52] GaddMaster commented on #21
@vfonic make a avatar folder with that small res images. No transformations. Plain and simple

[2019-06-30 14:50] vfonic commented on #21
:joy: that is killing the whole purpose of Cloudinary as a business.

[2019-06-30 19:54] GaddMaster commented on #21
@vfonic Still fast cdn request left ! :)

[2019-06-30 19:55] GaddMaster commented on #21
@vfonic I am having this same issue as I want to have a number in middle of the image. Might be another way , let me check

[2019-07-01 04:47] vfonic commented on #21
@eitanp461 do you think this should be reopened now?

[2019-07-02 08:17] eyalktCloudinary commented on #21
@vfonic Hey, Can you clarify what feature are you missing?
 Please refer to [this link](https://www.10bis.co.il/next/Restaurants/Search/Delivery/17-23109-20-3757211). It has several examples such as

[code]
Is that what you're looking for?

[2019-07-05 16:36] pawelotto commented on #74
LEGEND!

[2019-07-24 15:50] maoznir commented on #51
Hi @konrad147,
I've looked at this again and indeed as you described passing responsive_use_breakpoints to cloudinaryContext does not work.
I saw that you created a pr, will handle it.
Thanks

[2019-07-24 15:50] #51 closed

[2019-08-01 13:38] bernharduw opened #113 "Consider using React.createContext instead of the legacy context API"
When enabling strict mode checks in React, React throws warnings about CloudinaryContext using legacy context APIs, with this link to more information: https://fb.me/react-strict-mode-warnings

Consider refactoring this in the near future as the old context API will be unsupported in the next major React version.

More info here: https://reactjs.org/docs/context.html#legacy-api

[2019-08-01 14:03] maoznir commented on #113
Thanks @bernharduw we're considering upgrading the react peer dependency to ^16.3 (not 16.8 yet for as broad support as possible) and replace all deprecated life cycle methods and context api in the next major release.

[2019-08-01 14:04] bernharduw commented on #113
Awesome - makes sense, thanks!

[2019-08-05 04:26] shouvik44 opened #114 "cloudinary-core error"
I started getting this build error today, and so did the other developer on my team. We haven't made changes to Cloudinary, so curious if you have any advice.

Module not found: Error: Can't resolve 'cloudinary-core' in '/Users/shouvikbanerjee/GitHub/averpointMERN/node_modules/cloudinary-react/lib/components/CloudinaryContext'

[2019-08-05 06:18] maoznir commented on #114
Hi @shouvik44 please reinstall cloudinary-react. there was a problem with cloudinary-core that is now fixed in version 2.7.2 of cloudinary-core.

[2019-08-23 21:40] GaddMaster commented on #4
Any documentation that explains fully how to create a signature for the client side widget?

[2019-08-23 22:25] shirlymanor commented on #4
@GaddMaster you can follow the directions here: https://cloudinary.com/documentation/upload_widget#signed_uploads

[2019-08-28 21:23] jaredegan opened #118 ""Warning: componentWillUpdate has been renamed..." in Image component"
I receive the following warning from React when using this library.

[code]

https://github.com/cloudinary/cloudinary-react/blob/master/src/components/Image/Image.js#L37

[2019-08-29 07:09] petteredna commented on #118
+1

[2019-09-04 20:20] idirocco commented on #113
@maoznir Do you have a ERD? Thanks!

[2019-09-09 12:10] imbsky commented on #74
+1

[2019-09-09 12:29] imbsky commented on #74
Here is auto generated definition by dts-gen.
https://gist.github.com/imbsky/2a7aa54cb26fcce346d7bcb3f87f441c

[2019-09-11 15:33] davidsa opened #119 "Show play button in the middle of video player"
Hello, i'm trying to put the big play button on the video player, but looking at the docs it seems that using `<Video controls>` should do the work but it doesn't.

[2019-09-22 19:16] mufasa71 opened #121 "Add support to react 16.9.0"
In recent react version, componentWillUpdate is deprecated, please fix it. I can prepare PR if needed.
[code]

[2019-09-23 06:50] asisayag2 commented on #121
Hi @mufasa71,
The next version will include the suggested changes.
Please see PR - https://github.com/cloudinary/cloudinary-react/pull/120

Thanks for raising that

[2019-09-30 12:15] othpwn opened #123 "Cannot read property 'responsiveDebounce' of undefined"
When using the responsive prop on the Image component, this error occures.
Could you please fix it or hint at a workaround ? thanks

[2019-09-30 13:37] maoznir commented on #123
Hi @othpwn,

Thanks for letting us know of this issue, we were able to reproduce it.
We've released a new version of cloudinary-react with a fix for this.
Please update cloudinary-react to version 1.2.1 and let us know if it's working for you.

Thanks
Nir

[2019-09-30 13:42] maoznir commented on #118
Hi @jaredegan and @petteredna

We've released a new version of cloudinary-react to handle this.
Please update to cloudinary-react 1.2.1 and let us know if it works for you.

Thanks
Nir

[2019-09-30 13:42] #114 closed

[2019-09-30 13:44] maoznir commented on #121
Hi @mufasa71

Version 1.2.1 was released with solution for this

[2019-09-30 13:44] #121 closed

[2019-09-30 13:44] #119 closed

[2019-09-30 13:50] othpwn commented on #123
Hi @maoznir,

Thanks for the fix, It works perfectly.

[2019-09-30 13:51] maoznir commented on #123
@othpwn Glad to hear!

[2019-09-30 13:59] jaredegan commented on #118
Great, thank you!

[2019-10-24 02:24] jldivemaster opened #125 "Cannot destructure property `compile` of 'undefined' or 'null'."
Ran "npm install" then "npm start" in the photo-album sample and getting the above error.  Full error log is below:

`0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   '/Users/flatironschool/.nvm/versions/node/v12.8.0/bin/node',
1 verbose cli   '/Users/flatironschool/.nvm/versions/node/v12.8.0/bin/npm',
1 verbose cli   'start'
1 verbose cli ]
2 info using npm@6.11.3
3 info using

[2019-10-24 09:49] maoznir commented on #125
Hi @jldivemaster,

Thanks for letting us know, we're planning to fix that.
I'll update when we do.

[2019-11-04 16:24] maoznir commented on #125
Hi @jldivemaster I've merged a fix for this:
https://github.com/cloudinary/cloudinary-react/pull/128/commits/e6a2d0300044e5a4a5bd1ef3f81c814de545bd3b

[2019-11-14 13:38] mikestaub commented on #91
@shirlymanor is this feature on the roadmap yet?

[2019-11-20 19:08] zachrdz opened #130 "Is there any way to get the URL that is created by using Image component?"
I've been using the Image component with multiple Transformations inside to get the result I'm wanting. Is there a way the grab the URL that the Image component generates when it creates the ```<img src="...."/>``` element? What I'm wanting to do is get the URL as a string to add to the head meta tags of the page as the image to use for SEO and social media preview cards. I'm using Next.js for ssr

[2019-11-20 23:29] zachrdz commented on #130
Not sure if there's a better way, but this is what I've come up with so far.

[code]

[2019-11-22 18:19] shirlymanor commented on #130
@zachrdz, unfortunately, you can't use react to get the full URL. You can use nodeJS for example: `cloudinary.url("sample",{width:300});`

[2019-11-22 19:01] zachrdz commented on #130
@shirlymanor Thanks for the response! I'll probably go with the route you've suggested. I was able to get the full url using the example I posted, but it seems the easier way would just be to create the transformation objects manually and then pass them into cloudinary.url method like you've described. Do you know if there's a way to pass in an array of transformations to that .url() method or doe

[2019-11-22 19:28] shirlymanor commented on #130
@zachrdz you can use an array that the result (array.tostring() ) will look like `width:200,opacity:30` Or use rae transformation. For example: cloudinary.url("sample",{raw_transformation:"w_200,h_300,q_auto"})

[2019-11-26 16:16] prosperoking opened #131 "Unable to customize video element"
I am unable to apply customization to the video component created like from this url: https://studio.cloudinary.com/

[2019-11-27 00:47] d-mendoza commented on #131
Can you provide details on what customizations you are trying to add? Please share samples so we can reproduce on our end too.

[2019-11-27 16:52] Shahzayb opened #132 "Is there any way to lazy load image & specify placeholder color while image is loading?"

[2019-11-27 17:19] Shahzayb commented on #132
`                <Image
                    cloudName={process.env.REACT_APP_CLOUDINARY_CLOUD_NAME}
                    dpr="auto"
                    responsive
                    width="auto"
                    crop="fit"
                    sizes="(min-width: 992px) 34vw,
                           (max-width: 992px) 50vw,
                           (max-width: 768px) 100vw"

[2019-11-27 17:25] Shahzayb commented on #132
`<Image`
                   `   cloudName={process.env.REACT_APP_CLOUDINARY_CLOUD_NAME}`
                    `  dpr="auto"`
                    `  responsive`
                   `   width="auto"`
                    `  crop="fit"`
                   `   sizes="(min-width: 992px) 34vw,`
                         `      (max-width: 992px) 50vw,`
                          `     (max-width: 768px) 100v

[2019-11-27 20:54] maoznir commented on #132
Hi @Shahzayb
Those features do not exist yet in the React SDK, but they are in our road-map.
Until then, maybe you can try something along the lines of this:
https://stackblitz.com/edit/cloudinary-react-placeholder-example-with-color

[2019-12-03 12:50] nyze2oo9 commented on #74
I debugged this [line of code](https://github.com/cloudinary/cloudinary-react/blob/28ae46122ccb40a30bf1be0065aec24da25abb6c/src/components/CloudinaryComponent/CloudinaryComponent.js#L119) and noticed that the CloudinaryComponent can get all of these [Types](https://github.com/cloudinary/pkg-cloudinary-core/blob/464666e905d07902a6763abc7d9678af60db79b2/cloudinary-core.d.ts#L285), but in camelCase.

[2019-12-03 17:12] prosperoking commented on #131
Here is a sample code https://stackblitz.com/edit/react-eccg8e

[2019-12-03 19:33] maoznir commented on #131
Hi @prosperoking,
The React SDK's Video component wraps a regular <video> html element, not the Cloudinary Video Player.  If you'd like to use Cloudinary Video Player in your react Component, you could do something like this:

[code]

[2019-12-04 22:59] cyruslk opened #135 "CORS problem > Firefox and Safari"
Hey there,

Here's the App I'm working on:  cooing-sugar.surge.sh

When I'm fetching your images using `axios`, I have cors issues on `Firefox` and on `Safari` and only onClick. I'm tried to overcome CORS from my react app using:

[code]

Problem on firefox:
[code]

Problem on safari:

[code]

[2019-12-07 11:36] aleksandar-cloudinary commented on #135
Hi @cyruslk. By default, Cloudinary doesn't set any CORS restrictions on origin when requesting resources. As a result, you can just request the resource directly from Cloudinary rather than going through the cors-app. May I please ask if there's any reason you're going down this route and to try setting the source of the GET to ${spreadsheetURL}?

[2019-12-17 17:19] JasonTheAdams opened #136 "Cookie Warnings upon load"
Greetings!

Just getting Cloudinary going in our platform. Everything is working great, but I noticed that when the react app initializes we're now getting the following warnings in the console:
[code]

Any idea what that could be about?

[2019-12-18 01:26] leptians commented on #136
Hi Jason,

You are getting this warning message in the console because you have old cookies. Can you try to delete your cookies and let me know if you are still getting the warnings?

Regards,
Erwin Lukas

[2019-12-22 21:56] sanny-io opened #137 "Responsive hook for URLs to set background images"
From my understanding, there is no support for background images. However, this can be achieved without too much trouble. If the `Image` component is changed to be functional instead of class based, the responsive functionality could be extracted into a hook that would provide `Image` with the appropriate URL.

What this would do is also allow the community to do things like set `background` CSS p

[2019-12-23 09:26] maoznir commented on #137
Hi @sanny-io,
Thank you for the suggestion. Cloudinary React SDK's minimum supported React version is 16.3.3, therefore React hooks are not included.
In a future major version we might update to newest React version that includes hooks.
Meanwhile you could use Cloudinary Core (https://www.npmjs.com/package/cloudinary-core) to generate a url and use that in your component.

[2019-12-23 23:51] sanny-io commented on #137
I see, that makes sense.

[2019-12-23 23:51] #137 closed

[2019-12-26 12:09] maoznir commented on #130
@zachrdz in the latest version (1.3.0) it is very simple:
You can pass an innerRef param to the Image component and get a ref to the underlying <img> and get the src attribute that way:

let myRef = React.createRef();

//in render()
<Image
  innerRef={myRef}
  cloudName='demo'
  publicId='sample'
/>

[2020-01-09 13:42] yakirp commented on #76
Hey @wwaterman12 ,
I'm so sorry for missing this, my bad.
Is this still relevant?

Thanks,
Yakir

[2020-02-05 06:58] roeeba commented on #3
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-05 06:58] #3 closed

[2020-02-05 07:00] roeeba commented on #4
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-05 07:00] #4 closed

[2020-02-05 07:04] roeeba commented on #20
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-05 07:04] #20 closed

[2020-02-05 07:11] roeeba commented on #65
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-05 07:11] #65 closed

[2020-02-05 07:12] roeeba commented on #71
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-05 07:12] #71 closed

[2020-02-10 21:46] fcisio opened #140 "New Dynamic Component"
Hi, this is not so much an issue as it is more an idea.

There's currently no "BackgroundImage" component, which is not the end of the world, but it would be nice to have.

I think it would be possible to create such a component by cloning the "Image" component and storing the URL in a CSS Custom Property. Here's an example:

[code]
---
Is that something viable?

[2020-02-11 14:46] idobarnoam commented on #140
Hi, @fcisio Thanks for the suggestion!

We've opened a request with our dev team to review this as it doe make sense.

We'll update with any updates about this feature

[2020-02-17 10:14] idobarnoam commented on #140
Hey @fcisio

I just wanted to update that this feature is on our roadmap to do.

There is currently no ETA but when there will be any updates we would update this thread as well.

[2020-02-17 10:39] roeeba commented on #76
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-17 10:39] #76 closed

[2020-02-17 10:40] roeeba commented on #80
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-17 10:40] #80 closed

[2020-02-17 10:41] roeeba commented on #82
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-17 10:41] #82 closed

[2020-02-17 10:49] roeeba commented on #85
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-17 10:49] #85 closed

[2020-02-17 12:25] roeeba commented on #89
Hi @AdamTyler, I apologize for the very late response. If this is still relevant, please share a reproducible test case, either a live web page or a JSFiddle, so we can further investigate it. Thanks!

[2020-02-17 12:33] roeeba commented on #91
Closing this issue as it's not related to our React package. We will update here regardless if and when this will be available.

[2020-02-17 12:33] #91 closed

[2020-02-17 12:35] roeeba commented on #101
Closing this issue as it's not related to our React package. We will update here regardless once the feature is ready for use.

[2020-02-17 12:35] #101 closed

[2020-02-17 12:35] roeeba commented on #101
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-17 12:37] roeeba commented on #135
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-17 12:37] #135 closed

[2020-02-17 12:41] roeeba commented on #136
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-17 12:41] #136 closed

[2020-02-19 07:43] bogdan-around opened #141 "How to disable the video download and picture in picture buttons ?"
I need to disable the download and picture in picture buttons from the Video component. I have tried to look at the documentation but I was not able to see anything related to this.

[2020-02-19 23:03] shirlymanor commented on #141
@bogdan-around If you're seeing the download link in Chrome's native player, you can disable the download link by adding controlsList="nodownload" to the video tag.
For more information please see here: https://googlechrome.github.io/samples/media/controlslist.html
Alternatively, you can use Cloudinary video player which don't have the download button. You can read more about it here: https://clou

[2020-02-21 13:22] bogdan-around commented on #141
Thank you allot for the resources provided. I have managed to disable download and picutreInpicture by using the following :
`<Video
    cloudName={myCloudName}
    publicId={videoId}
    autoPlay={true}
    controls={true}
    width="100%"
    height="100%"
    disablePictureInPicture
    controlsList="nodownload"
  />`

[2020-02-21 13:22] #141 closed

[2020-02-23 13:39] maoznir commented on #113
Closing as this was handled in version 1.2.0

[2020-02-23 13:39] #113 closed

[2020-02-23 13:41] #125 closed

[2020-02-23 13:56] maoznir commented on #48
Closing as this was handled in https://github.com/cloudinary/cloudinary-react/pull/81

[2020-02-23 13:56] #48 closed

[2020-02-23 13:58] #132 closed

[2020-02-23 14:00] #118 closed

[2020-02-23 14:33] maoznir commented on #131
Closing due to time elapsed.

[2020-02-23 14:33] #131 closed

[2020-02-23 14:35] maoznir commented on #130
Closing as this was solved in version 1.3.0

[2020-02-23 14:35] #130 closed

[2020-02-25 00:54] janzenisaac opened #142 "Misspelling of "deployed""
Small comment, but under `running` _deployed_ is spelled incorrectly.

[2020-02-25 10:37] eyalktCloudinary commented on #142
Hey @janzenisaac, thank you for the feedback! Can you please share more information about the issue? Where do you see the typo?

[2020-02-25 15:43] janzenisaac commented on #142
https://github.com/cloudinary/cloudinary-react/blob/master/samples/photo_album/README.md#running

[2020-02-25 18:48] shirlymanor commented on #142
Thank you for your feedback!
We created a PR to fix this.

[2020-02-26 16:08] #142 closed

[2020-02-27 13:15] maoznir commented on #28
Due to the breaking nature of this change, we will consider including it in the next major version

[2020-02-27 13:15] #28 closed

[2020-02-28 05:23] rleslie1015 opened #144 "Error: .field(name, val) val can not be empty"
I am trying to upload to my cloudinary account with the Photo album sample and the errror I get after following the configuration steps is `cloudinary-react/samples/photo_album/`.  The error points to line 108 in PhotoUploader.js

[2020-02-28 16:55] shirlymanor commented on #144
Can you please share more details about the error message? do you have your code online for us to test? if privacy is an issue you can open a ticket at support@cloudinary.com.

[2020-02-28 22:39] rleslie1015 commented on #144
The code is already online inside the photo album sample `cloudinary-react/samples/photo_album/src/components/PhotosUploader.js` the error is there after forking it and changing the configurations the readMe talks about. The error points to `cloudinary-react/samples/photo_album/src/components/PhotosUploader.js`. When I try to upload a photo it gives the error. The error points [to this file](https

[2020-03-01 13:54] maoznir commented on #144
@rleslie1015 Thanks for pointing this out, we're working on a fix.
I'll update when it's done

[2020-03-01 14:43] maoznir commented on #144
@rleslie1015 This is now fixed in version 1.3.1 and up, please let us know if it works fo you.

[2020-03-06 10:31] winstonma commented on #86
Yes I have having the same issue. I have to manually add the url in `poster` in order to get it work. I assumed that the poster is given by default.

[2020-03-08 10:11] #144 closed

[2020-03-08 16:54] maoznir commented on #86
Hi @winstonma,
Thanks again for bringing this to our attention,
We'll release a fix for this very soon, I'll update when we do.

[2020-03-14 04:25] ian opened #150 "Video not autoplaying on iOS"
Code sample:

[code]

iOS is particularly difficult to autoplay video.  I wonder if it has to do with the `playsinline` field.  <Video> doesn't seem to passthrough the playsinline video.

More details here: https://webkit.org/blog/6784/new-video-policies-for-ios/

Platforms:
iOS, works fine on chrome/safari

[2020-03-15 16:44] itsgracian opened #151 "is cloudinary-react support typescript?"
Hello!

I am using react with typescript but My app is failing to start when I am including this package.
I would like to ask if **cloudinary-react ** support typescript?

[2020-03-16 12:47] michalkcloudinay commented on #150
HI @ian, This should work in IOS. Can you specify in what IOS version and browser you had this issue?

[2020-03-16 15:18] eyalktCloudinary commented on #151
Hi @itsgracian , thanks for reaching out! Currently, our React SDK does not support typescript. However, we are considering this matter.

[2020-03-16 15:57] maoznir commented on #150
Hi @ian
Due to how React handles element attributes, 'playsinline' should be 'playsInline'.
Please let us know is this solves it for you

[2020-03-16 17:13] itsgracian commented on #151
Oooh!
thank you for your response.

[2020-03-16 17:13] #151 closed

[2020-03-17 14:33] maoznir commented on #86
Hi @mattjennings @winstonma,
We've released version 1.3.3 with a fix for the default video frame.
Please let us know if this solves the issue for you.

[2020-03-18 16:32] el-noppo commented on #150
This would work, up until 7 days ago, when you decided to snake case any options passed to the Video tag.

[2020-03-18 22:21] maoznir commented on #150
@el-noppo Sorry about that and thanks for pointing this out, it's now fixed in 1.3.4

[2020-03-19 03:08] winstonma commented on #86
@maoznir Thanks it works flawlessly.

Just a very quick question, the webm version of my video is a bit blurry. Just wonder if it is possible to provide just the mp4 version?

[2020-03-19 06:35] maoznir commented on #86
Hi @winstonma,
you can pass a "sourceTypes" param that can be an array of strings or a string:
<Video cloudName="demo" publicId="dog" sourceTypes="mp4" />
or
<Video cloudName="demo" publicId="dog" sourceTypes={["mp4"]} />

[2020-03-19 06:40] #150 closed

[2020-03-19 12:16] #86 closed

[2020-03-19 13:56] winstonma commented on #86
Thanks @maoznir

[2020-04-02 05:47] colin-peter commented on #4
Hi,
Why is there no support for signed uploads in React?

[2020-04-09 17:13] CaptainN commented on #135
This is still a problem. Disabling the user-agent request header in the library does fix it.

[2020-04-16 07:56] vladimirpetukhov opened #158 "TypeError: children is not a function"
https://github.com/react-dropzone/react-dropzone/releases/tag/v8.0.0
TypeError: children is not a function
(anonymous function)
C:/Apps/ReactJs/CakeOrdersAttestation/cakeorders/node_modules/react-dropzone/dist/es/index.js:61
  58 |     };
  59 |   }, [open]); // TODO: Figure out why react-styleguidist cannot create docs if we don't return a jsx element
  60 |

  62 |     open: open
  63 |   })));

[2020-04-19 11:33] patrick-tolosa commented on #158
@vladimirpetukhov  - What exactly is the issue you want to report?
Please edit the issue to reflect the problem your facing.

[2020-04-23 20:07] shirlymanor commented on #135
@CaptainN if that issue still accrues please contact us at support@clouddinary.com.

[2020-04-30 14:47] shrugs opened #160 "audio component source mimeTypes are non-standard"
## Possible Bug, Feature Request, and Discussion

Thanks for the new Audio component! I'd previously written my own, so i'm excited to chuck out duplicate code. I'd like to ask about the various audio formats and their associated mimeTypes. At first glance, the component renders non-standard mimeTypes, which i'm worried will impact behavior.

When rendering the Audio component, [this code](https:/

[2020-04-30 18:24] asisayag2 commented on #160
Thanks @shrugs for the feedback.
We will take a look shortly.

[2020-05-25 08:38] joeldbirch opened #161 "cloudinary-react: Rendered img tag missing alt attribute"
## Bug report for Cloudinary React SDK
Before proceeding, please update to latest version and test if the issue persists
**Done**

## Describe the bug in a sentence or two.

Rendered `img` tag is missing required `alt` attribute. I have made sure I have a value set for the image's "Description (alt)" field in Cloudinary's UI, but it does not get output to the front-end.

## Issue Type (Can be mult

[2020-05-25 08:42] joeldbirch commented on #161
I'm [not seeing a test for this here](https://github.com/cloudinary/cloudinary-react/blob/master/test/ImageTest.js).

[2020-05-25 12:44] eyalktCloudinary commented on #161
Hey @joeldbirch , Though it can be confusing, the "Description (alt)" that can be set in the Cloudinary UI, is strictly part of the image metadata and not related to the HTML "alt" attribute.

You can retrieve the value of the this context metadata and then set it as "alt" text manually.
For example, the resource method of the Admin API returns the context metadata of the relevant asset - https://

[2020-05-25 12:46] #161 closed

[2020-05-25 13:41] joeldbirch commented on #161
Thanks for the quick reply. I respectfully disagree that this issue is resolved as the point is that an `img` tag must have an `alt` attribute. Even if purely presentational, the alt attribute must still exist but be blank, eg: `alt=“”`.

Also, given the declarative nature of the React wrapper, it seems strange to require users to retrieve the `alt` text imperatively. It removes the convenience if

[2020-05-25 14:05] eyalktCloudinary commented on #161
@joeldbirch Thanks for the feedback. I apologize for not mentioning - you can add any HTML attribute to the image element created by Cloudinary's SDKs.
In React for example -
[code]
As for retrieval of the "Description (alt)" context metadata of an image, which I mentioned earlier - I agree that it is not relevant here - this was just an example of how it could be possible.
Automatically creating

[2020-05-25 20:56] joeldbirch commented on #161
I see, thank you for clarifying. It appears that I'll have to be content with ensuring I can pass both `public_id` and `alt_text` to the `Image` component from this library.

To correct my earlier statement: I was wrong that `alt` is "required", per se. From MDN (emphasis mine):

In light of this I suppose having `alt` at least default to an empty string could be considered opinionated and unneces

[2020-05-26 10:26] eyalktCloudinary commented on #161
Sure, thank you for reaching out!
In my opinion, having an informative `alt` is indeed important, and should be set. It can also [help with SEO](https://moz.com/learn/seo/alt-text).

[2020-06-23 16:49] josmas opened #165 "Web API calls behave differently on iOS and Android (and cURL)"
## Bug report for Cloudinary React SDK
This is not an issue with the react SDK but when trying to run a fetch call directly to the API. Apologies if this is not the place to open this, couldn't find other repo.

## Describe the bug in a sentence or two.
An api DELETE call such as:
[code]

From cURL this would be:
[code]
cURL and iOS succeed in the call; Android returns a 401.

[code]
while iOS res

[2020-06-30 20:35] mcmillion opened #169 "1.5.1 broken in Safari"
Getting the following error in Safari (latest): `SyntaxError: Invalid regular expression: invalid group specifier name`

Looks like this actually may be inside `cloudinary-core`? We got this issue after recently updating to `cloudinary-react` to 1.5.1. Initial digging looks like this is an issue with Safari not supporting regex lookbehind.

## Steps to reproduce
Use Safari. Tested on 13.1.1, but i

[2020-06-30 23:24] shirlymanor commented on #169
can you please open a ticket at support@cloudinary.com with your cloud name and steps to reproduce the error?

[2020-07-01 11:19] maoznir commented on #169
Hi @mcmillion Are you using an Image component? can you please send a code example that causes this for you?

[2020-07-02 19:05] mcmillion commented on #169
So the issue is this regex in `cloudinary-core`: https://github.com/cloudinary/cloudinary_js/blob/c6da538d645796a74eac3894d6b0398bfbe90dc9/js/jquery.cloudinary.js#L1490

It's using a regex lookbehind, which is unsupported in Safari.

I can try to find some time to work on a reproduction, but essentially just calling this regex at all will fail in Safari.

[2020-07-03 07:01] maoznir commented on #169
@mcmillion I cannot reproduce this with a clean install of cloudinary-react. what version of core is installed in your node_modules?

[2020-07-03 14:48] mcmillion commented on #169
2.9.0

[2020-07-06 08:37] patrick-tolosa commented on #169
Hey @mcmillion

The file you posted from `cloudinary-core` is called jquery.cloudinary.js, how are you using this file?

In general, the import path should look something like this: `import {Image} from 'cloudinary-react' `, are you using anything different?

Can you also please confirm the problem still persists after a clean npm install?

Finally, if you could provide us with a minimal repro tha

[2020-07-06 11:02] maoznir commented on #169
Hi @mcmillion
In addition to @patrick-tolosa comment, i'd like to update that new cloudinary-react version 1.6.0 was released that uses an updated cloudinary-core, please let us know if that also might solve the issue for you.

[2020-07-10 01:01] matfisch opened #175 "1.6.0 null width in rendered <img /> tag"
I noticed after bumping to version 1.6 that if the `<Image />` component is passed both width and the responsive prop that the returned `<img />` tag width property is null.  The outcome was all of our images grew significantly in size.

[code]
Given the rules for `cld-responsive` I wouldn't be surprised if we are misusing the `responsive` prop (it is defaulted to true in our of our components tha

[2020-07-10 06:10] maoznir commented on #175
Hi @matfisch, thanks for letting us know, we're looking into this.

[2020-07-10 11:41] maoznir commented on #175
Hi @matfisch,
Until a fix for this is released, here's a workaround, please let me know if this solves the issue for you:
If you'd like the fetched image width to be determined by it's container's width, then you should pass
<Image ... width='auto' responsive/>
If you'd also like the resulting <img> element width to be some specific value, you can also pass:
<Image ... width='auto' responsive styl

[2020-07-11 09:26] maoznir commented on #175
@matfisch We've published a new version (1.6.1) with a fix for this.
Please let me know if this solves the issue for you.

[2020-07-12 16:54] #158 closed

[2020-07-13 16:49] matfisch commented on #175
@maoznir It does. I appreciate the quick turnaround and the support for this odd use case.

[2020-07-13 16:49] #175 closed

[2020-07-15 14:17] mcmillion commented on #169
Yep, the update fixes the regex issue for me (and introduces another, I'll make another issue). Thanks!

[2020-07-15 14:29] maoznir commented on #169
@mcmillion I'd still be very happy to understand how you're getting to that file in the js folder, which isn't supposed to be part of the sdk

[2020-07-15 14:32] mcmillion opened #178 "data-testid being mangled into datatestid"
## Describe the bug in a sentence or two.

Previously, adding a `data-testid` to an `Image` component worked. After a previous update, this now get mangled into `datatestid`. I get that this may be unsupported usage, but it's pretty standard in testing, so I wanted to report it.

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross browser i

[2020-07-15 14:53] maoznir commented on #178
Hi @mcmillion thanks for reporting this issue, we'll look into it.

[2020-07-16 07:57] roeeba commented on #89
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-07-16 07:57] #89 closed

[2020-07-16 14:30] maoznir commented on #178
@mcmillion Thanks for letting us know of this issue, it's fixed in version 1.6.2

[2020-07-26 16:01] #169 closed

[2020-07-26 16:02] #178 closed

[2020-08-02 08:01] taijuten opened #186 "Image placeholder incorrectly lazy-loaded"
## Bug report for Cloudinary React SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
It appears that when defining a placeholder for a lazy-loaded image, the placeholder is also lazy-loaded. contrary to the documentation here: https://cloudinary.com/documentation/react_image_manipulation#image_placeholders

…

## Issue

[2020-08-09 11:06] taijuten opened #187 "Lazy Load Offset"
## Feature request for Cloudinary React SDK
Similar to Libraries such as [React Lazyload](https://www.npmjs.com/package/react-lazyload#offset) It would be incredibly useful to specify an offset for lazy loading.

## Explain your use case
Loading images when X pixels out of viewport provides a better user experience by increasing chances that the original image has loaded before the user scrolls to

[2020-08-10 07:39] patrick-tolosa commented on #187
Hey @taijuten

Thanks for your suggestion,
We're reviewing this internally and we'll update once we have news.

This somewhat relates to your other issue posted here:
https://github.com/cloudinary/cloudinary_js/issues/255

[2020-08-10 15:57] jdortegar opened #188 "Typescript issue"
## Bug report for Cloudinary React SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
I updated my proyect to node v12.16 and I'm getting this error:

```Property 'seeThru' of type 'string | undefined' is not assignable to string index type 'string'```

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import

[2020-08-11 09:13] maoznir commented on #188
Hi @jdortegar,
This was an issue with the typescript declarations in cloudinary-core, which was just fixed in version 2.11.2
Can you please try to do npm i cloudinary-core@2.11.2 and let us know if it solves the issue for you?

[2020-08-11 09:22] taijuten commented on #187
Thanks for your reply @patrick-tolosa.

It is indeed. It would be super useful to be able to set this, in particular the `threshold`, as if an image is less than 50% in view, won't lazy load. For large images, this is super obvious, and I can see no way in the docs to currently adjust this.

[2020-08-11 16:42] jdortegar commented on #188
Hi @maoznir! yes! it's solved, thanks for your answer!

[2020-08-17 18:52] savybrandt opened #190 "Where to find prop documentation"
I'm struggling to find props documentation for any of these components. The storybooks are broken and not displaying prop information and looking directly at the src none of the `propTypes` or `defaultProps` are explicitly listed out. I see no mention in the React section of the documentation either. Where should I be looking for prop documentation? (Thanks in advance!)

[2020-08-17 20:23] shirlymanor commented on #190
Here is a link to our documentation: https://cloudinary.com/documentation/react_integration#installation_and_setup

Adding a cloudinary image should look like:

[code]
Can you please elaborate on your use-case? for example, you can use defaultProps -  https://github.com/cloudinary/cloudinary-react/blob/96af98be653cf9ae17ecb5db04c392db2f4f119d/src/components/Transformation/Transformation.js#L17

[2020-08-17 23:20] shirlymanor commented on #186
@taijuten Can you please check that it's working for you? Here is a sample code:  https://codesandbox.io/s/gracious-smoke-psy0u?file=/src/App.js

[2020-08-18 07:01] taijuten commented on #186
Hi @shirlymanor,

This snippet itself isn't enough to reproduce the issue.

I've forked this snippet and have one showing the issue here.

https://codesandbox.io/s/vibrant-pine-dks7w?file=/src/App.js

If you open your network tab, look at `Img` transfers, and refresh, you'll notice that the placeholder for the second image isn't loaded until it is scrolled to.

This is due to the lazy loading inco

[2020-08-18 09:38] maoznir commented on #186
@taijuten thanks for reporting this, we're looking into this and considering whether this behavior should change, I'll update here as soon as we have a decision.

[2020-08-18 09:57] taijuten commented on #186
Thanks @maoznir

I'm only going by the documented behaviour here: https://cloudinary.com/documentation/react_image_manipulation#image_placeholders

[2020-08-18 14:59] ardiewen commented on #186
I thought I'd comment my support for this as well, as I'm experiencing the exact same issue as @taijuten and the way he described it is consistent with the behaviour I'm seeing on my project.

On a product category page for an online store, all the image placeholders on the page should be loaded eagerly creating a "blurred" placeholder, then "blurred up" lazily to the target image.

What actually

[2020-09-05 12:18] donaldboulton opened #191 "Responsive video player"
How to make cloudinary video player to be responsive
Tried adding cloudinary core and add use the responsive prop by it is not responsive like the photo gallery. Tried a wrapper with media query's and it does not work.

If I set the width it stays that width on desktop and mobile.

Example code
`
  import React from 'react'
  import {Video, Transformation, CloudinaryContext} from 'cloudinary-react

[2020-09-06 14:01] eyalktCloudinary commented on #191
Hey @donaldboulton Thanks for reaching out!
It sounds like you're looking for the `fluid` method -
https://cloudinary.com/documentation/video_player_api_reference#fluid
Here is a CodePen example of its usage -
https://codepen.io/eyalkt/pen/oNxpeNE

Kindly let me know if it helps.

[2020-09-15 16:07] orteth01 commented on #186
Any update on this? my experience is exactly as @ardiewen and @taijuten have described.

[2020-09-16 07:41] patrick-tolosa commented on #186
@orteth01  this is currently being discussed internally, the discussion is around whether this behaviour should change.

It looks like we'll keep lazyloading the placeholder.
The reason for this is a use-case of hundreds of images on the page; the browser is limited to 6 requests per domain which can be easily saturated by all the placeholder images.

With regards to the white flashes, we're consi

[2020-09-22 01:34] clairefro opened #193 "accessing images in subfolders (uploadPreset)"
The below component is able to access images in the top level Assets folder of my cloudinary account, for example, `sample`

I've tried adding the prop `uploadPreset` to the as I saw it in one of the examples in this repo, but notice there is no uploadPreset in the API. How can I render images from folder `foo`?

[code]

[2020-09-22 09:51] eyalktCloudinary commented on #193
Hey @clairefro thanks for reaching out!

In Cloudinary, the public ID of an asset consists of the asset's path (folder) concatinated with the asset's name.
For instance, if you have an image named `elephant` and it resides in the `animals` folder of your account, then its public ID is `animals/elephant`.

This means that you do not need any additional parameters in order to render images that resi

[2020-09-22 15:33] clairefro commented on #193
Thank you! I was confused because my presets were creating subdirectories and thought they were related. This clarifies things.

[2020-09-22 15:33] #193 closed

[2020-09-22 18:09] 2stash opened #194 "cloudinary-react/samples/photo_album/ does not work"
## Bug report for Cloudinary React SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
cloudinary-react/samples/photo_album/ does not work. It returns an error about upload presets.

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross browser issues
[ ] UI/Performa

[2020-09-22 21:10] shirlymanor commented on #194
Can you please share more details about your issue?

[2020-09-23 17:43] 2stash commented on #194
Hi. I am looking for an image hosting service to integrate with the backend
of the application I am working on. I found cloudinary and thought I would
give it a try. I tried the github sample project and it doesn't work. See
error below. Per the readme, this shouldn't happen as it specifically
states the presets are set in the client of the sample. So I searched
cloudinary's docs and the stuff I f

[2020-09-23 19:35] shirlymanor commented on #194
Can you please try to create an upload preset and call as described here: https://res.cloudinary.com/orlyborly/video/upload/preset_configuration.mp4 you can create it (unsigned) without anything else. and use it as your upload preset?

[2020-10-02 00:47] mcmillion opened #195 "data- and aria- attributes are passed both correct and incorrectly cause a react-dom error"
## Describe the bug in a sentence or two.
When passing either `data-` or `aria-` attributes, they are passed both as the original hyphenated version _and_ as a camel-cased version. In at least some configurations or versions of react/react-dom, this causes the following error:

[code]

Upon inspection, it looks like both `data-testid` _and_ `dataTestid` are being applied to the `<img>` tag created

[2020-10-02 16:25] shirlymanor commented on #195
Hi @mcmillion,
Can you please share your code that reproduced the error?
You can add it here: https://codesandbox.io/s/awesome-architecture-xrgyy?file=/src/App.js

[2020-10-03 17:36] maoznir commented on #195
Hi @mcmillion,
Thanks for reporting this issue! we were able to reproduce it, and are working on a fix.
I'll update when a new version with the fix is published to npm.

[2020-10-04 11:08] maoznir commented on #195
Hi @mcmillion version 1.6.7 published with a fix for this issue.
Thanks again for reporting this and please let us know that it works for you.

[2020-10-05 15:05] donaldboulton commented on #191
Works like a charm
Thanks !
Donald Boulton

[2020-10-05 16:26] #195 closed

[2020-10-27 19:49] HilmaM opened #199 "Multiple dependencies no-longer supported"
## The release contains old dependencies most of which are no longer supported
Here is a result of the output I got from `git-bash`
`$ npm i
npm WARN deprecated eslint-loader@2.1.2: This loader has been deprecated. Please use eslint-webpack-plugin
npm WARN deprecated extract-text-webpack-plugin@3.0.2: Deprecated. Please use https://github.com/webpack-contrib/mini-css-extract-plugin
npm WARN deprec

[2020-10-29 07:31] roeeba commented on #199
Hi, @HilmaM. Thank you for raising this issue. We will update here once fixed.

[2020-11-16 08:16] maoznir commented on #194
@2stash @shirlymanor
I've updated the sample app sample config to show that an unsigned upload preset is needed:
https://github.com/cloudinary/cloudinary-react/blob/master/samples/photo_album/src/config/config.js.sample

[2020-11-16 08:17] #194 closed

[2020-11-22 11:01] #191 closed

[2020-11-22 11:03] #190 closed

[2020-11-22 11:06] #74 closed

[2020-12-02 20:47] JordanTreDaniel commented on #4
When the original author of this post asked about support, I'm pretty sure he meant a component. That's what a lot of people are getting at. Just because it can be done with JS and/or jquery, it doesn't mean you're supporting React. I am currently trying to implement the upload widget in my app, and I find myself going against the whole architecture of my app. The js implementation of the upload w

[2020-12-03 00:26] bkniffler commented on #4
Yeah, if you want to have an example for a great upload component, just take a closer look to https://github.com/transloadit/uppy

Its modular and sleek and supports all kinds of environments without relying on globals and external scripts to work.

[2020-12-03 16:59] eyalktCloudinary commented on #4
@JordanTreDaniel @bkniffler
Thank you for your feedback, I've created an internal ticket for considering your suggestions.

[2020-12-10 08:39] AjdinHusic opened #206 "TypeScript Declarations"
## Feature request for Cloudinary React SDK
Typescript declaration for all cloudinary react components.

## Explain your use case
When using react with typescript, it is easier to use all imported components with type definitions.

## Describe the problem you’re trying to solve
when importing components into a typescript project, the IDE and the compiler will complain that it is not possible, beca

[2020-12-10 13:11] michalkcloudinay commented on #206
Hi @AjdinHusic, We have an internal request to support typescript in our React SDK. Although I don't have an ETA at the moment, we will keep you posted with new updates.

[2020-12-14 16:01] heyitstowler commented on #186
@patrick-tolosa What about allowing for hardcoded placeholders to be passed in? For example, with responsive images, I can pass in a data/img string as the `src` and get a placeholder with no network request and then the responsive function will replace it, but lazy only gives me access to the provided placeholder transformations, which require network requests.

[2020-12-15 08:15] patrick-tolosa commented on #186
Thanks for the suggestion @heyitstowler , this is something that we might consider adding in future versions.
We're working a new implementation of this area (lazyload, placeholder and such), we'll update once we have more to share.

[2020-12-15 10:02] Ahlambey commented on #21
@eyalktCloudinary the code you wrote doesn't work when we use the image as a background image.

[2020-12-15 14:03] eyalktCloudinary commented on #21
Fixed the link in my previous comment.
@Ahlambey Yes, you are right, the code I've added creates an image tag. As @eitanp461 mentioned [here](https://github.com/cloudinary/cloudinary-react/issues/21#issuecomment-304544944), you can generate an image URL with the JS SDK's (which the React SDK is built upon) [url() method](https://cloudinary.com/documentation/react_integration#using_core_cloudinary_

[2020-12-15 15:07] heyitstowler commented on #186
@patrick-tolosa Is there any proposed timeline for this new implementation? Very curious as I'm at a decision point as to whether to use `cloudinary-react`'s lazy loading feature as is vs trying to use a separate tool for lazy loading in tandem with responsive images, and a little more information on timeline would be valuable for making the decision

[2020-12-17 15:08] patrick-tolosa commented on #186
@heyitstowler this is a different issue than this thread, so it would be better to discuss it in a separate thread.

We are mixing three different functionalities here : **Responsive**, **Placeholder** and **Lazyload**.

For **lazyload**, it's likely that we will always wait for the lazyload event before loading the placeholder, with some ability to control the gutter and margin of the lazyload fu

[2020-12-17 15:48] heyitstowler commented on #186
@patrick-tolosa responsive isn't causing an issue. It just seems to me there should be a way to directly provide a default src to lazy load the same way we can provide a default src to responsive, particularly for the use case of passing a data url so the placeholder doesn't require an additional network request.

[2020-12-17 17:11] patrick-tolosa commented on #186
Alright good to know!

We're on the same page regarding the placeholder functionality, we just can't publish any dates at the moment.
We'll publish news on this new development soon enough.

[2020-12-19 13:14] mesolutionsN commented on #206
Same here!

[2020-12-21 10:56] michalkcloudinay commented on #206
@mesolutionsN You can try this: https://medium.com/@steveruiz/using-a-javascript-library-without-type-declarations-in-a-typescript-project-3643490015f3 and see if it helps.

[2021-01-02 17:33] ajonp opened #210 "sourceTypes incorrectly adding video as mimetype when using codec"
## Describe the bug in a sentence or two.
When using sourceTypes and trying to use codecs like    `sourceTypes={['hls', 'webm', 'mp4/h265', 'mp4']}`
it strips out the h265 from the list and just tries to add `video/mp4`

## Describe the desired/expected behavior.
The mime types should allow for all of the sourcetypes and codecs.

## Link to reproduction of the issue on codepen/jsfiddle/etc.
…

##

[2021-01-03 12:58] michalkcloudinay commented on #210
Hi @ajonp, Thanks for contacting us. If the video is too large to transform on-the-fly and the derived version wasn't generated ahead of time, you would receive the original format (mp4). In order to further investigate, can you please provide the URL of the video you are trying to play? If privacy is a concern you can open a ticket at support@cloudinary.com. Thanks

[2021-01-04 16:45] verystack opened #211 "Issue with versioning URL and On-Demand Download from S3 Bucket"
## Describe the bug in a sentence or two.
'/v1/' link suffix in DOM output of Image component does not result in lazy upload via S3 on server-side.

## Describe the desired/expected behavior
'/v1/' should be able to perform lazy upload to Cloudinary from S3, just as links without '/v1/' do. It is important to note, that if the image has already imported to Cloudinary (via a normal link), the '/v1/

[2021-01-05 11:42] igy commented on #211
Hi,

Thanks for providing the details above. I've had a look at the example you provided and it's not related directly to either the React SDK/component, or the URL format (i.e whether the URL contains /v1/, the full version string, or not version string) - there's no functionality difference regarding the auto-upload feature based on the version component in the URL that you request from Cloudina

[2021-01-05 12:09] igy commented on #211
Hi,

Thanks for providing the details above.

I've had a look at the example you provided and it's not related directly to either the React SDK/component, or the URL format (i.e whether the URL contains /v1/, the full version string, or not version string).

There's no functionality difference with how the [auto-upload feature](https://cloudinary.com/documentation/fetch_remote_images#auto_upload_r

[2021-01-05 12:19] verystack commented on #211
Will provide video showing phenomenon. The /v1/ 404s to the S3 bucket for ~20min, but accessing directly without /v1/ works instantly. Asset is available in S3 before each access (obviously). I wouldn’t be filing a Github issue without checking these basics.

[2021-01-05 14:03] igy commented on #211
Thanks; please follow up on the ticket you gave open in our support system if you'll be sharing any account-specific information. It sounds like you're seeing a cached 404 on the /v1/ URL because the first request failed [due to the failed attempt by us to retrieve the image from your bucket], and that a request without the /v1/ is bypassing that cache and works as expected, but if you have an exa

[2021-01-16 23:24] fcisio commented on #140
Hi, I was wondering what's the ETA on this feature by now.
Thanks

[2021-01-17 08:06] patrick-tolosa commented on #140
Hey @fcisio, this feature is unlikely to be developed in the current SDK, however we are working on a new version of the SDK,

You can see more here:
https://github.com/cloudinary/cloudinary-js-base

and specifically, a simple example of how to create a URL here
https://github.com/cloudinary/cloudinary-js-base/blob/master/__DOC_EXAMPLES__/annotatedExamples/resize.md

We've broken down the SDK into

[2021-01-28 15:37] maoznir commented on #186
Hi I'd just like to update that eventually we've decided to that for current version we'll keep the current behavior of the placeholder being lazy loaded when loading='lazy', and we've updated the docs accordingly: https://cloudinary.com/documentation/react_image_manipulation#image_placeholders
But we're also working on a new major version, for which we'll consider including options to customize t

[2021-01-28 15:37] #186 closed

[2021-02-12 14:50] igy commented on #211
Hi again,

I believe this is now resolved so I'm going to close this issue from hitgub, but if you're still seeing any issue with the auto upload mechanism, please let us know via our support site at https://support.cloudinary.com/hc/en-us/requests/new and we'll check it for you right away

Thanks,
Stephen

[2021-02-12 14:50] #211 closed

[2021-02-25 02:45] victorcarvalhosp opened #217 "Allow private requests for publicly allowed transformations"
## Feature request for Cloudinary React SDK
Allow private requests for allowed transformations

## Explain your use case
I'm setting my images as "Private media assets", but allowing transformations of my assets - When I use the react component it always get the public URL and not the private one - so the transformations don't work in this case.

This is the way that I`m using the component

`<Ima

[2021-02-25 07:33] maoznir commented on #210
Hi @ajonp thanks again for bringing this issue to our attention, we'll look into this.
Meanwhile I'd like to suggest a workaround: you can use the sources prop instead of sourceTypes like this:
Please let me know if that solves the issue for you.

[code]
Will produce:
[code]

[2021-02-25 11:28] eyalktCloudinary commented on #217
Hey @victorcarvalhosp, Thanks for reaching out!
I've also answered within the ticket you have with us, and I'll answer here as well, in case other clients encounter this -

When creating using an <Image> component, the delivery type is defaulted to "upload", and that's why the URL is created with "upload" type (`.../image/upload/...`). You can override the default type with the type attribute, i.e

[2021-02-25 11:28] #217 closed

[2021-02-25 13:33] victorcarvalhosp commented on #217
Thank you so much!!!!

On Thu, Feb 25, 2021 at 8:28 AM Eyal Katz Talmon <notifications@github.com>
wrote:

[2021-02-28 13:34] maoznir commented on #210
Hi @ajonp I'd like to update that the workaround I've suggested is actually the recommended way to go about defining the codec. please let us know if it works for you.

[2021-02-28 13:44] maoznir commented on #199
Hi @HilmaM We've released a new version (1.7.0) where this should be fixed. please let me know that the issue is solved on your side. thanks again for reporting this!

[2021-02-28 14:29] maoznir commented on #187
Hi @taijuten
We are working on a new major version that will include, among other features, support for passing a threshold.
It is still a work in progress and we're happy to hear any feedback, so if you'd like, you're welcome to try out the beta and let us know whether it meets your expectations:
https://www.npmjs.com/package/@cloudinary/react
https://github.com/cloudinary/frontend-frameworks#rea

[2021-02-28 14:31] maoznir commented on #160
Hi @shrugs,
This is now fixed in version 1.7.0, please let us know if it works for you!

[2021-02-28 15:04] maoznir commented on #206
Hey @AjdinHusic & @mesolutionsN
I'm closing this as this feature is unlikely to be developed in the current SDK,
however we are working on a new major version of the SDK, which is developed in typescript.

You can see more here:
https://github.com/cloudinary/cloudinary-js-base
https://github.com/cloudinary/frontend-frameworks#readme

This is still in beta and the syntax and internals might still c

[2021-02-28 15:04] #206 closed

[2021-02-28 15:06] maoznir commented on #140
I'm closing this as this feature will not be developed in the current sdk.
New features related to css in components might be part of the new sdks:
https://github.com/cloudinary/frontend-frameworks#readme

[2021-02-28 15:06] #140 closed

[2021-03-01 04:03] #210 closed

[2021-03-01 04:04] #199 closed

[2021-03-01 04:04] #187 closed

[2021-03-01 04:04] #160 closed

[2021-03-04 02:26] kevinclarkadstech commented on #74
Ugh, I just saw there are no types for this library.  I suggest reopening this if you want people to use Cloudinary....after all, it is 2021 now and having no TypeScript definitions on a library for a paid service is pretty poor.

[2021-03-04 08:54] patrick-tolosa commented on #74
@kevinclarkadstech We understand the community's needs for typed support, and we agree that modern libraries must contain type definitions.

We are on the verge of releasing our new generation of JS SDKs (Currently in Beta), which offers type definitions, tree shaking, and a better, more well-rounded API.

You can see more here:
- [Official Documentation](https://cloudinary.com/documentation/javas

[2021-03-11 03:32] alicercedigital commented on #74
We are waiting for the types too, today almost every project we start have typescript.

[2021-03-15 12:24] wilsonmsalberto commented on #40
Hello! I'm currently trying to use the Video component but similar to the initial question, I'm unable to understand how to properly use `analytics: true`.

Any pointers?

[2021-03-15 13:04] maoznir commented on #40
Hi @wilsonmsalberto if you're using the Cloudinary Video Player (not cloudinary-react SDK), then please see here: https://cloudinary.com/documentation/video_player_events_analytics or contact Cloudinary's support at https://support.cloudinary.com/hc/en-us

[2021-03-15 16:37] wilsonmsalberto commented on #40
Hello @maoznir I'm currently working within a React project and will need to customize the Video Player as well as have analytics.

Does your comment mean that I cannot use `cloudinary-react` if I wish to have Analytics?
If not, Is there a suggested approach to using Cloudinary Video Player within a React project?

[2021-03-17 09:22] maoznir commented on #40
@wilsonmsalberto please see this blog post about integrating the cloudinary video player in react:
https://dev.to/rebeccapeltz/five-ways-for-integrating-the-cloudinary-video-player-into-react-applications-2kcb

[2021-03-22 22:39] kevinclarkadstech commented on #74
@patrick-tolosa great!  I will be excited to see.

[2021-04-27 16:16] Dashue opened #226 "Image gallery?"
Is there a react way of showing a product gallery?

[2021-04-28 01:18] aditimadan-Cloudinary commented on #226
We don't have a specific helper method in our React SDK for the Product Gallery Widget, but if you can include external Javascript code into your application, you can open the widget using vanilla Javascript, and can add it to one of your components via its ID. There's more information here about how to initialize it: https://cloudinary.com/documentation/product_gallery#quick_example
There is also

[2021-04-28 06:47] #226 closed

[2021-05-18 01:36] andrelandgraf commented on #74
I hope the types for React make it into npm soon. First time I actually have to define a d.ts file by myself. I hope this helps others:

[code]

[2021-05-19 14:37] eyalktCloudinary commented on #74
@andrelandgraf Thank you for sharing the typing for others to see!
Note, that in our JS v2 SDKs, TS typing is included out of the box. Additional information can be found here -
https://cloudinary.com/documentation/javascript2_integration

[2021-05-19 16:08] andrelandgraf commented on #74
Does this also apply for the react package?

I installed the latest version from npm and there were no types included.

[2021-05-23 12:25] patrick-tolosa commented on #74
@andrelandgraf  - This package (Cloudinary-react) will not contain type definitions, as mentioned above we are working on a new version of this package that will be written in typescript.

[2021-06-09 02:35] fcisio opened #232 "Does the Placeholder component still work?"
## Bug report for Cloudinary React SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
I'm testing the package on the latest version, and I can't make the placeholder work.
Nothing gets added to the DOM, it's the same as without.

## Describe the desired/expected behavior.
A placeholder should appear in the DOM.

## Link

[2021-06-09 10:03] roeeba commented on #232
Hi @fcisio, Would you mind sharing a sample of your code showing where the error occurs?
Also, are you getting any error messages in the browser's console?

[2021-06-09 17:20] fcisio commented on #232
[Here's a code sandbox](https://codesandbox.io/s/cloudinary-react-repro-fpr6u?file=/src/pages/index.js)

I think I figured out my issue, basically, the placeholder only appears before the main image is loaded. After that, it is removed from the DOM, which is why I didn't see it.

Is it the desired behaviour?

[2021-06-10 13:10] roeeba commented on #232
@fcisio That's the intended behavior. Why would you like it to remain in the DOM?

[2021-06-11 14:51] fcisio commented on #232
If it works it works, but I feel like it would make more sense to leave it in the DOM.
That's what most of the other similar package I've encountered are doing.

It would probably prevent confusion.

I also know about `@cloudinary/react` which is the successor of this package, so this might not be a super important issue.

[2021-06-11 21:16] heyitstowler commented on #74
This helped me!

[2021-06-13 10:48] roeeba commented on #232
Thanks for the feedback @fcisio. Can you please share why do you think it makes more sense to leave the placeholder in the DOM?

[2021-06-14 14:47] fcisio commented on #232
Well, it would probably be a little lighter in JS since there wouldn't be a cleanup function.
It would also prevent confusion with new users of the package. What you see in the DOM is what you get.

I think overall it would allow for a better understanding of what happens under the hood.

[2021-06-15 08:38] roeeba commented on #232
Thanks, @fcisio. I'll forward it to the team to consider. Appreciate the feedback.

[2021-07-24 19:42] yardz opened #233 "Images in chrome are not displayed when fetchFormat="auto""
## Describe the bug in a sentence or two.
On Google Chrome when **fetchFormat="auto"** option is set the images are not displayed.
Only with devtools open when simulating a mobile (any iPhone)

## Describe the desired/expected behavior.
I think it would be interesting to solve this problem, but if it is not possible (or not easy), to put a note in the documentation about this behavior.
I wasted se

[2021-07-24 20:24] patrick-tolosa commented on #233
Hi @yardz, Thanks for the detailed description.

I can confirm you've indeed stumbled into what appears to be a bug, but please let me shed some light on the matter:

Automatic fetch format, or as we call it `f_auto` uses the browser's user agent to deliver the best format for the current user.
For Safari users (iPhones, iPads), this usually means  the`jp2` image format.

When you use the devtools

[2021-07-24 23:11] yardz commented on #233
@patrick-tolosa thanks for the quick response.
I believe a simple note in the documentation (https://cloudinary.com/documentation/react_image_manipulation#converting_to_another_image_format). "Attention, when using dev tools to emulate other devices with `fetchFormat="auto"` some images can fail due to the user-agent and format received." Any message like this, that put this disclaimer will help a

[2021-07-24 23:44] aleksandar-cloudinary commented on #233
Hi @yardz, Thanks for sharing your findings. It can definitely be confusing if you're running into it for the first time.

While there isn't a note directly under the fetchFormat section on the React page, there is a note under the f_auto section here: https://cloudinary.com/documentation/image_transformations#f_auto

That said, there are a number of sections regarding f_auto so you might not have

[2021-08-24 09:18] igdev116 commented on #74
You saved me!

[2021-09-02 15:31] patrick-tolosa commented on #233
@yardz I'm closing this issue as it appears resolved, please let us know if you have any other issues.

[2021-09-02 15:31] #233 closed

[2021-09-07 06:01] yasinnkhann opened #238 "how to use cloudinary with ant designs upload component?"
## Bug report for Cloudinary React SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
I'm trying to use cloudinary to host all the image data for when I make a file upload but I keep getting an uncaught in promise error.
## Describe the desired/expected behavior.
I want to be able  to have successful file upload to my cl

[2021-09-07 09:04] Vdeub-cloudinary commented on #238
Hi @yasinnkhann,
I see you already opened a case to support@cloudinary.com and my colleague Eric sent some information.
To avoid any confusion and multiple threads, let's keep the conversation on the internal ticket.
Thanks!

[2021-09-07 09:04] #238 closed

[2021-09-20 11:14] Devendra-Raj-Sharma commented on #1
how to install cloudnary

PS C:\Users\DEVENDRA RAJ SHARMA\Desktop\Project> npm i cloudnary
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/cloudnary - Not found
npm ERR! 404
npm ERR! 404  'cloudnary@*' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404
npm ERR! 404 Note that you can also install from

[2021-09-20 12:25] Vdeub-cloudinary commented on #1
Hi @Devendra-Raj-Sharma, you are missing a `i` in `cloudinary`.

Can you please try the command below?
```npm i cloudinary```

[2021-11-09 08:59] phamquoctuan1 opened #240 "Is Cloudinary-react doesn't support for typescript"
i got  that issue : could not find  a declaration file for modules 'cloudinary-react'

[2021-11-09 11:20] maoznir commented on #240
Hi @phamquoctuan1
This is unlikely to be added in the current version,
however we are working on a new major version, which is developed in typescript.

You can see more here:
https://www.npmjs.com/package/@cloudinary/react
https://github.com/cloudinary/js-url-gen
https://github.com/cloudinary/frontend-frameworks#readme

The new react sdk is still in beta, but is coming soon!

[2021-11-09 11:21] #232 closed

[2021-12-29 06:33] MZ071999 opened #241 "TypeError: cld.videoPlayer is not a function"
I want to get the percents viewed from cloudinary's `AdvancedVideo` component and I was following this documentation

https://cloudinary.com/documentation/video_player_events_analytics

but I got this error:
`TypeError: vid.videoPlayer is not a function`

My code:
[code]

[2021-12-29 08:18] maoznir commented on #241
Hi @MZ071999,
The AdvancedVideo component wraps a standard html video element and does not use Cloudinary Video Player.
Please see the [installation and setup](https://cloudinary.com/documentation/cloudinary_video_player#installation_and_setup) documentation of the video player.

[2022-01-04 11:19] bristoljon opened #242 "Support for token based authentication?"
Hi, trying to work out how best to integrate token based authentication with this SDK.

Our backend provides a token giving access to specific folders in Cloudinary which we can append to the delivery url for assets to allow client to access restricted images however not sure how to provide this to the Cloudinary context...

Was hoping it would be something like:

[code]

And the SDK appends the t

[2022-01-06 00:05] d-mendoza commented on #242
@bristoljon I have not found a good way to add this and it's definitely a missing feature to be able to add query strings. I will raise this with our team.

[2022-01-11 17:42] bristoljon commented on #242
Thanks @d-mendoza, we have actually switched to the new React SDK version and so are using `@cloudinary/url-gen` to configure the url generator now so we would not need it added to this package if it's made available there.

[2022-01-11 18:04] d-mendoza commented on #242
We would most likely add it to V2, but once I have more details, I'll send an additional update.

[2022-05-30 13:07] feruz111 opened #247 "Getting tags with images"
Hi,

Is it possible to get images with tags, (maybe with asset list) or this feature doesn't exist

Thanks

[2022-05-30 13:45] PixelCook commented on #247
Hey there,

You can either use the Node SDK if you would like to stick with an SDK, otherwise you can always fetch from the API. https://cloudinary.com/documentation/admin_api#tags Just reference the curl example, and if you are unfamiliar with converting curls to fetches you can always use a third-party tool like -https://kigiri.github.io/fetch/.

I hope this helps!
Thanks

[2022-05-30 14:11] feruz111 commented on #247
Ok thanks, but this api doesn’t work inside react does it?

[2022-05-30 15:41] feruz111 commented on #247
Thanks a lot for help

[2022-05-30 17:27] esguerrat commented on #247
Hi there,

If you need this in your front-end code, you could use the [client-side asset list](https://cloudinary.com/documentation/advanced_url_delivery_options#client_side_asset_lists) feature. You would need to apply a common tag to each file that you want to be returned. The client-side asset list returns a .JSON file with the basic details of all images tagged with a specific tag. You may nee

[2022-06-15 14:23] primavera133 opened #249 "Url encoded characters in public ID not handled well in AdvancedImage component"
## Bug report for Cloudinary React SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
Given a public ID like x/aeshna-subarctica-male-go%CC%88ran-liljeberg-cc-by_s2kxzr.jpg the URL gets transformed by encoding the % one time too many into x/aeshna-subarctica-male-go%25CC%2588ran-liljeberg-cc-by_s2kxzr.jpg

## Describe th

[2022-06-17 00:58] rikuoCloudinary commented on #249
Hey @primavera133 I was able to reproduce the % portion of the encoded URI being decoded on its own then again for the ö character. However, I believe that it would be a better practice to decode the URL before sending it off if it does contain URI encoding.

Here's a codesandbox with a quick example https://codesandbox.io/s/cld-react-sdk-quick-start-forked-pfqgvk?file=/src/App.js

I've added the

[2022-06-20 15:47] primavera133 commented on #249
Thx! You might have forgotten to save your fix, but I see it reproduced and understand the fix.  Adding `decodeURI` is probably a good solution and should work for me (I'm traveling right now so will test it later).

[2022-06-23 00:43] LucasPickering opened #250 "React 18 release?"
I saw support for React 18 was added in https://github.com/cloudinary/cloudinary-react/pull/246, any chacne you could do a release so I can start using that please? Thank you!

[2022-06-23 06:28] aleksandar-cloudinary commented on #250
Hi @LucasPickering - Thanks for following up about that - let me check internally with our SDK team and I'll confirm that for you.

[2022-06-27 07:29] aleksandar-cloudinary commented on #250
Hi @LucasPickering - Our team released a new version of the React SDK with this change in the bundle. May I please ask you to test that again from your side and let me know how it goes?

[2022-07-12 13:19] maoznir commented on #249
closing due to time elapsed, also this is related to @cloudinary/react, not cloudinary-react

[2022-07-12 13:19] #249 closed

[2022-07-12 13:19] #247 closed

[2022-07-12 13:20] #241 closed

[2022-07-12 13:21] #240 closed

[2022-11-04 03:30] SahadevDahit opened #253 "In typescript in react app"
await Cloudinary.uploader.destroy("");
shows error:- Property 'uploader' does not exist on type 'typeof Cloudinary'.ts

[2022-11-04 07:10] jroco-cloudinary commented on #253
Hi, good day!

Can you please help to provide the declaration and the code snippet where you encounter the error? I tried to call the same command and it was completed successfully.

Here is the code I used:

[code]
Response:

`{ result: 'ok' }`

[2022-11-04 09:58] SahadevDahit commented on #253
In react typescript(tsx) file when i write this i get error
import { Cloudinary } from "@cloudinary/url-gen";
const Createchallenge = () => {
  const handledelete = () => {
    Cloudinary.uploader.destroy("");
  };
}
return(
<> </>)
export default Createchallenge

Error message:-'uploader' does not exist on type 'typeof Cloudinary'
Actually i want to delete the image from the cloudinary from react

[2022-11-04 11:29] jroco-cloudinary commented on #253
Thanks for your response.

`@cloudinary/url-gen` class is used for generating URL delivery in the front end and does not support the destroy method.

To delete images, you will need to call your backend and invoke Cloudinary destroy method as I have shown in my previous response(using Node.js). Deleting images will require your API key and API secret, exposing it front-end is not advisable. You ca